<div class="f-page">
	
	<div class="f-title">
		<a href="http://tympanus.net/Tutorials/CSS3FluidParallaxSlideshow/">Previous Demo</a>
		<h2>Jobs Picked for You</h2>
		<a href="http://tympanus.net/codrops/2012/05/07/experimental-page-layout-inspired-by-flipboard/">Back to the Codrops Article</a>
	</div><!-- f-title -->
	
	<div class="box w-25 h-70">
		<% job = @jobs[0] %>
		<img src='<%= asset_path("/assets/company_icons/#{job.listing_company.name.downcase}" + ".jpeg") %>' />				
		<h3><%= job.title %> <span>Published at <%= job.created_at.strftime('%B %d, %y') %></span></h3>
		<p><%= description_snippet(job) %></p>
		<div class="overview">
			<%= job.listing_company.overview %>
		</div>
	</div>
	
	<div class="box w-50 h-70 box-b-l box-b-r">
		<% job = @jobs[1] %>
		<img src='<%= asset_path("/assets/company_icons/#{job.listing_company.name.downcase}" + ".jpeg") %>' />				
		<h3><%= job.title %> <span>Published at <%= job.created_at.strftime('%B %d, %y') %></span></h3>
		<p><%= description_snippet(job) %></p>
		<div class="overview">
			<%= job.listing_company.overview %>
		</div>
	</div>
	
	<div class="box w-25 h-70">
		<% job = @jobs[2] %>
		<img src='<%= asset_path("/assets/company_icons/#{job.listing_company.name.downcase}" + ".jpeg") %>' />				
		<h3><%= job.title %> <span>Published at <%= job.created_at.strftime('%B %d, %y') %></span></h3>
		<p><%= description_snippet(job) %></p>
		<div class="overview">
			<%= job.listing_company.overview %>
		</div>
	</div>
	
	<div class="box w-50 h-30 box-b-r title-top">
		<% job = @jobs[3] %>
		<h3><%= job.title %> <span>Published at <%= job.created_at.strftime('%B %d, %y') %></span></h3>
		<p><%= description_snippet(job) %></p>
		<div class="overview">
			<%= job.listing_company.overview %>
		</div>
	</div>
	
	<div class="box w-50 h-30 title-top">
		<% job = @jobs[4] %>
		<h3><%= job.title %> <span>Published at <%= job.created_at.strftime('%B %d, %y') %></span></h3>
		<p><%= description_snippet(job) %></p>
		<div class="overview">
			<%= job.listing_company.overview %>
		</div>
	</div>
	
</div><!-- f-page -->

<div class="f-page">
	
	<div class="f-title">
		<a href="http://tympanus.net/Tutorials/CSS3FluidParallaxSlideshow/">Previous Demo</a>
		<h2>Jobs Picked For You</h2>
		<a href="http://tympanus.net/codrops/2012/05/07/experimental-page-layout-inspired-by-flipboard/">Back to the Codrops Article</a>
	</div><!-- f-title -->
	
	<div class="box w-70 h-50 box-b-r title-top box-img-left">
		<% job = @jobs[5] %>
		<img src='<%= asset_path("/assets/company_icons/#{job.listing_company.name.downcase}" + ".jpeg") %>' />				

		<h3 class="box-70"><%= job.title %> <span>Published at <%= job.created_at.strftime('%B %d, %y') %></span></h3>
		<p class="box-70"><%= description_snippet(job) %></p>
		<div class="overview box-70">
			<h3><%= job.listing_company.overview %></h3>
		</div>
	</div>
	
	<div class="box w-30 h-50">
		<% job = @jobs[6] %>
		<h3><%= job.title %> <span>Published at <%= job.created_at.strftime('%B %d, %y') %></span></h3>
		<p><%= description_snippet(job) %></p>
		<div class="overview">
			<%= job.listing_company.overview %>
		</div>
	</div>
	
	<div class="box w-30 h-50 box-b-r title-top">
		<% job = @jobs[7] %>
		<h3><%= job.title %> <span>Published at <%= job.created_at.strftime('%B %d, %y') %></span></h3>
		<p><%= description_snippet(job) %></p>
		<div class="overview">
			<%= job.listing_company.overview %>
		</div>
	</div>

	<div class="box w-70 h-50 title-top box-img-left">
		<% job = @jobs[8] %>
		<img src='<%= asset_path("/assets/company_icons/#{job.listing_company.name.downcase}" + ".jpeg") %>' />				
		<h3 class="box-70"><%= job.title %> <span>Published at <%= job.created_at.strftime('%B %d, %y') %></span></h3>
		<p class="box-70"><%= description_snippet(job) %></p>
		<div class="overview box-70">
			<%= job.listing_company.overview %>
		</div>
	</div>
	
</div><!-- f-page -->

<div class="f-page">
	
	<div class="f-title">
		<a href="http://tympanus.net/Tutorials/CSS3FluidParallaxSlideshow/">Previous Demo</a>
		<h2>Jobs Picked For You</h2>
		<a href="http://tympanus.net/codrops/2012/05/07/experimental-page-layout-inspired-by-flipboard/">Previous Page</a>
	</div>

	<div class="box w-30 h-60 box-b-r title-top">
		<% job = @jobs[9] %>
		<h3><%= job.title %> <span>Published at <%= job.created_at.strftime('%B %d, %y') %></span></h3>
		<p><%= description_snippet(job) %></p>
		<div class="overview">
			<%= job.listing_company.overview %>
		</div>
	</div>

	<div class="box w-70 h-60 box-img-left title-top">
		<% job = @jobs[10] %>
		<img src='<%= asset_path("/assets/company_icons/#{job.listing_company.name.downcase}" + ".jpeg") %>' />				
		<h3><%= job.title %> <span>Published at <%= job.created_at.strftime('%B %d, %y') %></span></h3>
		<p><%= description_snippet(job) %></p>
		<div class="overview">
			<%= job.listing_company.overview %>
		</div>
	</div>

	<div class="box w-40 h-40 box-img-left box-b-r title-top">
		<% job = @jobs[11] %>
		<img src='<%= asset_path("/assets/company_icons/#{job.listing_company.name.downcase}" + ".jpeg") %>' />						
		<h3><%= job.title %> <span>Published at <%= job.created_at.strftime('%B %d, %y') %></span></h3>
		<p><%= description_snippet(job) %></p>
		<div class="overview">
			<%= job.listing_company.overview %>
		</div>
	</div>

	<div class="box w-30 h-40 box-b-r title-top">
		<% job = @jobs[12] %>
		<h3><%= job.title %> <span>Published at <%= job.created_at.strftime('%B %d, %y') %></span></h3>
		<p><%= description_snippet(job) %></p>
		<div class="overview">
			<%= job.listing_company.overview %>
		</div>
	</div>

	<div class="box w-30 h-40 title-top">
		<% job = @jobs[13] %>
		<h3><%= job.title %> <span>Published at <%= job.created_at.strftime('%B %d, %y') %></span></h3>
		<p><%= description_snippet(job) %></p>
		<div class="overview">
			<%= job.listing_company.overview %>
		</div><!-- overview -->
	</div><!-- box w-30 -->

</div><!-- f-page -->