<%= render './jobs/index' %>

<div class="modal-background"></div>

<div class="session-form">

	<%= form_for(:session, url: session_url) do |f| %>

		<%#= render 'shared/errors', object: f.object %>
		<%= render 'shared/flash' %>		

		<!-- <span class="social guest"> -->
			<%#= link_to "Sign in as Guest", users_url, method: :post %>
		<!-- </span>		 -->

		<div class="login-wrap">
			<h1>Returning Members:</h1>
			<p>Use the email / password you signed up with to log in below</p>				
			<p>Click here if you forgot your login or password</p>
			<%= f.email_field :email, placeholder: 'Enter Email' %>
			<%= f.password_field :password, placeholder: 'Enter password' %>
		
			<span class="returning-member">
				<%= f.submit "Submit" %>
			</span>
		</div>

		<div class="social">
			<h1>Or sign in via social below</h1>
			<%= link_to "", "/auth/facebook", class: "fa fa-facebook-square" %>
			<%= link_to "", "/auth/twitter", class: "fa fa-twitter-square" %>
			<%= link_to "", "/auth/google_oauth2/", class: "fa fa-google-plus-square" %>
			<%= link_to "", "/auth/github", class: "fa fa-github-square" %>
			<%= link_to "", "/auth/linkedin", class: "fa fa-linkedin-square" %>
		</div>

	<% end %>

</div>

