<p>Hi! <%= @email_sender.email %> thought you would find this interesting</p>

<%= @job.title %>
<%= @job.description %>

View <%= link_to 'View listings', @job.link %>

Powered by <%= link_to 'Wolfpack Beta', '#' %>