<% article = locals[:article] %>
<% this_table = locals[:this_table] %>

<li class="user-skills is-draggable article">					
	<span class="skill-icon-wrapper article left">
		<!-- <i class="<%#= icon_dept_match(job.dept) %> join-us"></i> -->
		<span class="skill-name article">
			<h1>
				<%= link_to article.title, article.link, target: '_blank', class: "article-link",
				data: { article_id: article.id } %>
			</h1>

			<h3 class="left">Posted by: <%= article.users.first.fname %></h3>
<!-- 
			<h3 class="left">
				<%#= link_to "Discuss (#{article.comments.size})", '#' %>
			</h3>
			
			<h3 class="left">
				<%#= link_to "Recommend (#{article.recs})", '#', class: "recommend-link article-#{article.id}",
					data: { article_id: article.id } %>
			</h3> -->
			
			<%# article.topics.each do |topic| %>
				<!-- <h3 class="left tag"> | <%#= topic.name %></h3> -->
			<%# end %>
			
			<%# article.tags.each do |tag| %>
				<!-- <h3 class="left tag"> | <%#= tag.tag_name.titleize %></h3> -->
			<%# end %>				
		</span>
	</span>

	<span class="comments-wrapper left">
		<h1 class="views-count article-<%= article.id %>"><%= article.views %></h1>
		<h1 class="views">Recommends</h1>
	</span>	

<!-- 	<span class="comments-wrapper left">
		<h1 class="views-count article-<%#= article.id %>"><%#= article.views %></h1>
		<h1 class="views">Comments</h1>
	</span> -->

	<span class="views-wrapper left">
		<h1 class="views-count article-<%= article.id %>"><%= article.views %></h1>
		<h1 class="views">Views</h1>
	</span>

<!-- 	<span class="howl-wrapper left">
		<%#= link_to 'Reply', '#' %>
	</span>	 -->

<%
=begin %>
	<div class="comments-wrapper">
		<%= form_for([article, @comment]) do |f| %>
			<%= f.text_field :body %>

			<%= f.submit 'Post Comment' %>
		<% end %>

		<% article.comments.each do |comment| %>
			<%= comment.body %>
		<% end %>
	</div>
<%
=end %>

</li>


<%#= render './shared/tags_form', locals: { article: article } %>

























