<div class="span3 user-list-div">

  <div class="well sidebar-nav">
    <h3>Admin</h3>
    <ul class="nav nav-list" id="admin-list">
      <li>
        <%= render './cards/user_bcard', locals: { user: @chatroom.admin } %>
      </li>
    </ul>
  </div>

  <br>

  <div class="well sidebar-nav">
    <h3>Users</h3>
    <ul class="nav nav-list" id="user-list-ul">
      <% @chatroom.users.each do |user| %>
        <li>
          <%= render './cards/user_bcard', locals: { user: user } %>
        </li>
      <% end %>
    </ul>
  </div>  

</div>

<div id="chat" data-chat-id=<%= @chatroom.room_id %> 
    class="well" data-uri="<%= request.host %>:<%= request.port %>/websocket">
  <ul>
    <% @chatroom.messages.each do |message| %>
      <li>
        <%= message.user.fname || 'user-name-placeholder' %> : <%= message.message_body %>
      </li>
    <% end %>
  </ul>  
</div>

<div class="form-inline well">
  <%= form_for @message, remote: true do |f| %>
    <%= f.text_field :message_body %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :chatroom_id, value: @chatroom.id %>

    <%= f.submit 'Submit', id: 'send' %>
  <% end %>
</div>