<% user_id = current_user ? current_user.id : nil %>
<% job = locals[:job] %>

<div class="preview-action-items">	

	<span class="action-span">
		<span class=<%= has_viewed_job?(job) ? 'selected' : 'hidden' %>>
			<%= link_to ' Viewed', job.link, 
				class: "icon fa fa-external-link-square selected",
				data: { 
					user_id: current_user.id, 
					viewed_job_id: job.id, 
					this_method: 'DELETE', 
					attribute: 'viewed_job_id' },
				target: '_blank' %>
		</span>

		<span class=<%= has_viewed_job?(job) ? 'hidden' : 'selected' %>>
			<%= link_to ' View Listing', job.link, 
				class: "icon fa fa-external-link-square unviewed",
				data: { 
					user_id: current_user.id, 
					viewed_job_id: job.id, 
					this_method: 'POST' }, 
				target: '_blank' %>
		</span>
	</span>

	<span class="action-span">
		<span class=<%= has_applied_to_job_via_wolfpack?(job) ? 'selected' : 'hidden' %>>
			<%= link_to " Interested", '#', 
			class: 'icon selected fa fa-paw', id: 'wolfpack-option', 
			data: {
				user_id: current_user.id, 
				applied_via_wolfpack_job_id: job.id, 
				this_method: 'DELETE'} %>
		</span>

		<span class=<%= has_applied_to_job_via_wolfpack?(job) ? 'hidden' : 'selected' %>>
			<%= link_to " I'm Interested", '#', 
				class: 'icon fa fa-paw open-popup', id: 'wolfpack-option',
				data: { 
					user_id: current_user.id, 
					applied_via_wolfpack_job_id: job.id, 
					this_method: 'POST' } %>
		</span>
	</span>

	<span class="action-span">
		<span class=<%= has_bookmarked_job?(job) ? 'selected' : 'hidden' %>>	
			<%= link_to ' Bookmarked', '#', 
				class: "icon selected fa fa-bookmark", 
				data: { 
					user_id: current_user.id, 
					bookmarked_job_id: job.id, 
					this_method: 'DELETE' } %>
		</span>

		<span class=<%= has_bookmarked_job?(job) ? 'hidden' : 'selected' %>>
			<%= link_to ' Bookmark', '#',
				class: "icon fa fa-bookmark",
				data: { 
					user_id: current_user.id, 
					bookmarked_job_id: job.id, 
					this_method: 'POST' } %>
		</span>
	</span>

	<span class="action-span">
		<span class=<%= has_removed_job?(job) ? 'selected' : 'hidden' %>>	
			<%= link_to ' Removed', '#',
				class: "icon selected fa fa-times-circle-o",
				data: { 
					user_id: current_user.id, 
					removed_job_id: job.id, 
					this_method: 'DELETE' } %>	
		</span>

		<span class=<%= has_removed_job?(job) ? 'hidden' : 'selected' %>>
			<%= link_to ' Remove', '#', 
				class: "icon fa fa-times", 
				data: { 
					user_id: current_user.id, 
					removed_job_id: job.id, 
					this_method: 'POST' } %>	
		</span>
	</span>

</div>




