<% user_id = current_user ? current_user.id : nil %>
<% job = locals[:job] %>

<% applied_class = already_applied?(job) ? "applied_already fa fa-check" : "applied fa fa-check" %>       
<% saved_class = has_saved_job?(job) ? "saved fa fa-bookmark" : "save fa fa-bookmark" %>
<% removed_class = already_removed?(job) ? "removed_already fa-times-circle-o" : "remove fa fa-times" %>
                      
<div class="action-items">  
  <span>To Apply:</span>
  <%= link_to '  Direct on Company Website', job.link, 
  	class: 'fa fa-external-link-square', target: '_blank' %>
  
  <%= link_to '  Let Wolfpack Hunt For You', '#', class: 'fa fa-paw', id: 'wolfpack-option' %>

	<% if has_saved_job?(job) %>
		<%= link_to "  Saved for Later", user_jobs_url(user_id: user_id, saved_job_id: job.id), class: "saved fa fa-bookmark", remote: true, method: :delete %>
	<% else %>
		<%= link_to "  Save for Later", user_jobs_url(user_id: user_id, 		saved_job_id: job.id), class: "save fa fa-bookmark", remote: true, method: :post %>
	<% end %>

	<%= link_to '  Not Interested, Remove', user_jobs_url(user_id: user_id, 
			removed_job_id: job.id), class: "remove fa fa-times", remote: true, method: :post %>

</div>

