<% user_id = current_user ? current_user.id : nil %>
<% job = locals[:job] %>

<div class="preview-action-items">	
	<%= link_to '', job.link, class: 'icon-unclicked fa fa-external-link-square', target: '_blank' %>

	<%= link_to ' ', '#', class: 'icon-unclicked fa fa-paw', id: 'wolfpack-option', data: {
		job_id: job.id
	} %>
	
	<%# if already_applied?(job) %>
		<%#= link_to '', user_jobs_url(user_id: user_id, applied_job_id: job.id), 
				class: 'applied_already fa fa-paw', remote: true, method: :delete %>
	<%# else %>
		<%#= link_to '', user_jobs_url(user_id: user_id, applied_job_id: job.id), 
				class: "applied fa fa-paw", remote: true, method: :post %>
	<%# end %>

	<% if has_saved_job?(job) %>
		<%= link_to '', user_jobs_url(user_id: user_id, saved_job_id: job.id), 
				class: "icon-unclicked fa fa-bookmark", remote: true, method: :delete %>
	<% else %>
		<%= link_to '', user_jobs_url(user_id: user_id, saved_job_id: job.id), 
				class: "icon-clicked fa fa-bookmark", remote: true, method: :post %>
	<% end %>

	<% if already_removed?(job) %>
		<%= link_to '', user_jobs_url(user_id: user_id, removed_job_id: job.id), 
				class: "icon-unclicked fa fa-times-circle-o", remote: true, method: :delete %>
	<% else %>		
		<%= link_to '', user_jobs_url(user_id: user_id, removed_job_id: job.id), 
				class: "icon-clicked fa fa-times", remote: true, method: :post %>
	<% end %>

</div>