<%= link_to 'Post a job', '#', id: 'new-job-post' %>

<div class="job-actions-wrapper right">
	<%= link_to ' Applied', '#', class: 'fa fa-check', data: { filter: 'applied' } %>	
	<%= link_to ' Bookmarked', '#', class: 'fa fa-bookmark', data: { filter: 'interested' } %>
	<%= link_to ' Removed', '#', class: 'fa fa-times', data: { filter: 'removed' }  %>
	<%= link_to ' Back', jobs_url, class: 'fa fa-times-circle' %>
</div>

