<div class="top-bar">
	<%= link_to 'Applied', '#', class: 'job-nav-item', data: { filter: 'applied' } %>	
	<%= link_to 'Interested', '#', class: 'job-nav-item', data: { filter: 'interested' } %>
	<%= link_to 'Removed', '#', class: 'job-nav-item', data: { filter: 'removed' }  %>

	<!-- <span class="view-options">
		<%= link_to 'Flip View', flip_view_jobs_url, data: { no_turbolink: true } %>
		<i class="fa fa-barcode"></i>
	</span> -->
	
	<%= link_to ' Back', jobs_url, class: 'fa fa-times-circle right job-nav hidden' %>
	<%= @job_count.count if @job_count %>
</div>