<% if current_user %>
	<%= form_for current_user, remote: true, html: { id: "pref-job-filter-form" } do |f| %>

		<div class="sidebar-middle">
			
			<% preferences = ['milestones', 'company_stage', 'company_industry', 'employment_type', 'salary_minimum', 'vc_backed' ] %>

			<% preferences.each do |preference| %>

				<div class="wrapper">
					<h1 class="<%= preference %>">
						<%= preference.split('_').map(&:titleize).join(' ') %>
						<i class="fa fa-caret-down <%= 'hidden' if current_user.job_prefs[preference] %>"></i>
						<i class="fa fa-caret-right <%= 'hidden' unless current_user.job_prefs[preference] %>"></i>
					</h1>
					<ul class="job-filters">
						<% Taxonomy.public_send(preference).each do |pref_choice| %>
							<% checked = is_pref_checked?(preference, pref_choice) %>
							<% is_hidden = current_user.job_prefs[preference] ? 'hidden' : '' %>
							<li class="job-sidebar <%= checked ? 'selected' : is_hidden %>">
								<%= label_tag pref_choice %>
								<%= check_box_tag "user[job_prefs][#{preference}][]", pref_choice, checked  %>
								<i class="fa fa-angle-right"></i>
								<i class="fa fa-times-circle"></i>								
							</li>
						<% end %>
						<%= hidden_field_tag "user[job_prefs][#{preference}][]", nil %>
					</ul>
				</div>	

			<% end %>

			<%= f.submit "Submit" %>
		<% end %>
	
	</div>

	<div class="clear">
		<button id="clear-all-prefs">Clear All</button>
	</div>
<% end %>