<!-- JOBS SIDEBAR FILTERS -->

<div class="sidebar-wrapper">
	
	<div class="role-req">
		<li class="roles selected">
			<span class="arrow-down"></span>
			Roles
		</li>
		<li class="reqs">
			<span class="arrow-down hidden"></span>
			Requirements
		</li>
	</div>
	
	<div class="roles-sidebar-wrapper">
	
		<% if current_user %>
			<%= form_for current_user, remote: true, html: { id: "job-filter-form" } do |f| %>
	
				<!-- SEARCH KEYWORDS -->
				<div class="search">
					<div class="wrapper">
						<input type="search" name="user[job_settings][keywords][]" placeholder="Enter keyword" id="sidebar-search">
						<i class="fa fa-search"></i>
					</div>
				</div>
		
				<div class="sidebar-middle">
		
					<!-- KEYWORDS -->
					<div class="keywords-wrapper <%= "hidden" unless show_keywords? %>">
						<h1 class="keywords">Search Words:</h1>
						<ul class="job-filters keywords-ul">
							<% if current_user.job_settings[:keywords] %>
								<% current_user.job_settings[:keywords].each do |keyword| %>
									<li class="job-sidebar keywords-li selected">
										<%= keyword %>
										<%= check_box_tag "user[job_settings][keywords][]", keyword, checked = true if current_user.job_settings[:keywords] && current_user.job_settings[:keywords].include?(keyword) %>
										<i class="fa fa-angle-right"></i>
										<i class="fa fa-times-circle"></i>
									</li>
								<% end %>
							<% end %>
						</ul>
					</div>
			
			
					<!-- DEPARTMENT -->
					<div class="wrapper">
						<h1 class="department">
							Department:
							<i class="fa fa-caret-down <%= 'hidden' if current_user.job_settings[:dept] %>"></i>
							<i class="fa fa-caret-right <%= 'hidden' unless current_user.job_settings[:dept] %>"></i>
						</h1>
						<ul class="job-filters">
							<% Taxonomy.departments.each do |dept| %>
								<% checked = dept_checked?(dept) %>
								<li class="job-sidebar department <%= sel_or_hide(dept) %>">
									<i class="<%= icon_dept_match(dept) %> left"></i>
									<%= label_tag dept %>
									<%= check_box_tag "user[job_settings][dept][]", dept, checked  %>
									<i class="fa fa-angle-right"></i>
									<i class="fa fa-times-circle"></i>								
								</li>
							<% end %>
						</ul>
					</div>
		
					<!-- SUB DEPT -->	
					<div class="wrapper">
						<h1 class="sub_dept <%= "hidden" unless return_sub_depts.any? %>">
							Role:
							<i class="fa fa-caret-down <%= 'hidden' if current_user.job_settings[:sub_dept] %>"></i>
							<i class="fa fa-caret-right <%= 'hidden' unless current_user.job_settings[:sub_dept] %>"></i>
						</h1>
						<ul class="job-filters">
							<% return_sub_depts.each do |sub| %>
								<% checked = sub_dept_checked?(sub) %>
								<% is_hidden = (current_user.job_settings[:dept] &&
								 		current_user.job_settings[:sub_dept]) ? 'hidden' : '' %>
								<li class="job-sidebar <%= checked ? 'selected' : is_hidden %>">
									<%= label_tag sub %>
									<%= check_box_tag "user[job_settings][sub_dept][]", sub, checked %>
									<i class="fa fa-angle-right"></i>
									<i class="fa fa-times-circle"></i>								
								</li>
							<% end %>
						</ul>
					</div>	
			
					<!-- EXPERIENCE -->	
					<% if current_user.job_settings[:dept] %>
						<div class="wrapper">
							<h1 class="experience">
								Experience (Yrs):
								<i class="fa fa-caret-down <%= 'hidden' if current_user.job_settings[:years_exp] %>"></i>
								<i class="fa fa-caret-right <%= 'hidden' unless current_user.job_settings[:years_exp] %>"></i>
							</h1>
							<ul class="job-filters">
								<% [['Internship', 0],
										['Entry (0-1)', 1], 
										['Junior (1-2)', 2], 
										['Mid (2-3)', 3], 
										['Experienced (3-5+)', 5], 
										['Veteran (5+)', 8],
										['Exec (10+)', 10]].each do |label, num_years| %>
									<% checked = num_years_checked?(num_years) %>
									<% is_hidden = (current_user.job_settings[:dept] &&
									 		current_user.job_settings[:years_exp]) ? 'hidden' : '' %>								
									<li class="job-sidebar <%= checked ? 'selected' : is_hidden %>">
										<%= label_tag "#{label}-#{label}", label %>
										<%= check_box_tag "user[job_settings][years_exp][]", num_years, checked %>
										<i class="fa fa-angle-right"></i>
										<i class="fa fa-times-circle"></i>								
									</li>
								<% end %>
							</ul>
						</div>
					<% end %>
			
					<!-- KEY SKILLS -->				
					<% if current_user.job_settings[:sub_dept] %>
						<div class="wrapper">
							<h1 class="key-skills">
								Key Skills:
								<i class="fa fa-caret-down <%= 'hidden' if current_user.job_settings[:key_skills] %>"></i>
								<i class="fa fa-caret-right <%= 'hidden' unless current_user.job_settings[:key_skills] %>"></i>
							</h1>
							<ul class="job-filters key-skills">
								<% Taxonomy.front_end_key_skills.each_with_index do |skill, index| %>
									<div class="key-skills-wrapper">
										<li class="job-sidebar key-skills">
											<%= label_tag skill %>
										</li>
							
										<div class="degree-wrapper">
											<% Taxonomy.key_skill_degrees[index].each do |degree| %>
												<% checked = key_skill_checked?(degree) %>
												<li class="degree <%= 'selected' if checked %>">
													<%= label_tag degree %>
													<%= check_box_tag "user[job_settings][key_skills][]", degree, checked %>
												</li>
											<% end %>
										</div>
									</div>
								<% end %>
							</ul>
						</div>
					<% end %>
			
					<% if request.env['PATH_INFO'] == '/jobs/flip_view' %>
						<%= hidden_field_tag 'flip-viewer', 'req_from_flip_view' %>
					<% end %>
				
					<%= f.submit "Submit" %>
				<% end %>
			
			</div>
	
			<div class="clear">
				<button id="clear-all">Clear All</button>
			</div>
		<% end %>
		
	</div><!-- roles sidebar wrapper -->
	
	
	<div class="reqs-sidebar-wrapper hidden">
		<% if current_user %>
			<%= form_for current_user, remote: true, html: { id: "job-filter-form" } do |f| %>
	
				<!-- SEARCH KEYWORDS -->
				<!-- <div class="search">
					<div class="wrapper">
						<input type="search" name="user[job_settings][keywords][]" placeholder="Enter keyword" id="sidebar-search">
						<i class="fa fa-search"></i>
					</div>
				</div> -->
		
				<div class="sidebar-middle">
		
					<!-- KEYWORDS -->
					<!-- <div class="keywords-wrapper <%= "hidden" unless show_keywords? %>">
						<h1 class="keywords">Search Words:</h1>
						<ul class="job-filters keywords-ul">
							<% if current_user.job_settings[:keywords] %>
								<% current_user.job_settings[:keywords].each do |keyword| %>
									<li class="job-sidebar keywords-li selected">
										<%= keyword %>
										<%= check_box_tag "user[job_settings][keywords][]", keyword, checked = true if current_user.job_settings[:keywords] && current_user.job_settings[:keywords].include?(keyword) %>
										<i class="fa fa-angle-right"></i>
										<i class="fa fa-times-circle"></i>
									</li>
								<% end %>
							<% end %>
						</ul>
					</div> -->
			
			
					<!-- DEPARTMENT -->
					<div class="wrapper">
						<h1 class="department">
							Department:
							<i class="fa fa-caret-down <%= 'hidden' if current_user.job_settings[:dept] %>"></i>
							<i class="fa fa-caret-right <%= 'hidden' unless current_user.job_settings[:dept] %>"></i>
						</h1>
						<ul class="job-filters">
							<% Taxonomy.departments.each do |dept| %>
								<% checked = dept_checked?(dept) %>
								<li class="job-sidebar department <%= sel_or_hide(dept) %>">
									<i class="<%= icon_dept_match(dept) %> left"></i>
									<%= label_tag dept %>
									<%= check_box_tag "user[job_settings][dept][]", dept, checked  %>
									<i class="fa fa-angle-right"></i>
									<i class="fa fa-times-circle"></i>								
								</li>
							<% end %>
						</ul>
					</div>
		
					<!-- SUB DEPT -->	
					<div class="wrapper">
						<h1 class="sub_dept <%= "hidden" unless return_sub_depts.any? %>">
							Role:
							<i class="fa fa-caret-down <%= 'hidden' if current_user.job_settings[:sub_dept] %>"></i>
							<i class="fa fa-caret-right <%= 'hidden' unless current_user.job_settings[:sub_dept] %>"></i>
						</h1>
						<ul class="job-filters">
							<% return_sub_depts.each do |sub| %>
								<% checked = sub_dept_checked?(sub) %>
								<% is_hidden = (current_user.job_settings[:dept] &&
								 		current_user.job_settings[:sub_dept]) ? 'hidden' : '' %>
								<li class="job-sidebar <%= checked ? 'selected' : is_hidden %>">
									<%= label_tag sub %>
									<%= check_box_tag "user[job_settings][sub_dept][]", sub, checked %>
									<i class="fa fa-angle-right"></i>
									<i class="fa fa-times-circle"></i>								
								</li>
							<% end %>
						</ul>
					</div>	
			
					<!-- EXPERIENCE -->	
					<% if current_user.job_settings[:dept] %>
						<div class="wrapper">
							<h1 class="experience">
								Experience (Yrs):
								<i class="fa fa-caret-down <%= 'hidden' if current_user.job_settings[:years_exp] %>"></i>
								<i class="fa fa-caret-right <%= 'hidden' unless current_user.job_settings[:years_exp] %>"></i>
							</h1>
							<ul class="job-filters">
								<% [['Internship', 0],
										['Entry (0-1)', 1], 
										['Junior (1-2)', 2], 
										['Mid (2-3)', 3], 
										['Experienced (3-5+)', 5], 
										['Veteran (5+)', 8],
										['Exec (10+)', 10]].each do |label, num_years| %>
									<% checked = num_years_checked?(num_years) %>
									<% is_hidden = (current_user.job_settings[:dept] &&
									 		current_user.job_settings[:years_exp]) ? 'hidden' : '' %>								
									<li class="job-sidebar <%= checked ? 'selected' : is_hidden %>">
										<%= label_tag "#{label}-#{label}", label %>
										<%= check_box_tag "user[job_settings][years_exp][]", num_years, checked %>
										<i class="fa fa-angle-right"></i>
										<i class="fa fa-times-circle"></i>								
									</li>
								<% end %>
							</ul>
						</div>
					<% end %>
			
					<!-- KEY SKILLS -->				
					<% if current_user.job_settings[:sub_dept] %>
						<div class="wrapper">
							<h1 class="key-skills">
								Key Skills:
								<i class="fa fa-caret-down <%= 'hidden' if current_user.job_settings[:key_skills] %>"></i>
								<i class="fa fa-caret-right <%= 'hidden' unless current_user.job_settings[:key_skills] %>"></i>
							</h1>
							<ul class="job-filters key-skills">
								<% Taxonomy.front_end_key_skills.each_with_index do |skill, index| %>
									<div class="key-skills-wrapper">
										<li class="job-sidebar key-skills">
											<%= label_tag skill %>
										</li>
							
										<div class="degree-wrapper">
											<% Taxonomy.key_skill_degrees[index].each do |degree| %>
												<% checked = key_skill_checked?(degree) %>
												<li class="degree <%= 'selected' if checked %>">
													<%= label_tag degree %>
													<%= check_box_tag "user[job_settings][key_skills][]", degree, checked %>
												</li>
											<% end %>
										</div>
									</div>
								<% end %>
							</ul>
						</div>
					<% end %>
			
					<% if request.env['PATH_INFO'] == '/jobs/flip_view' %>
						<%= hidden_field_tag 'flip-viewer', 'req_from_flip_view' %>
					<% end %>
				
					<%= f.submit "Submit" %>
				<% end %>
			
			</div>
	
			<div class="clear">
				<button id="clear-all">Clear All</button>
			</div>
		<% end %>		
	</div>
	
</div>

























