<!-- JOBS SIDEBAR FILTERS -->

<div class="sidebar-wrapper">
	
	<div class="role-prefs">
		<li class="roles selected">
			<span class="arrow-down"></span>
			Skills
		</li>
		<li class="prefs">
			<span class="arrow-down hidden"></span>
			Preferences
		</li>
	</div>
	
	
	<div class="roles-sidebar-wrapper">
	
		<% if current_user %>
			<%= form_for current_user, remote: true, html: { id: "roles-job-filter-form" } do |f| %>
	
				<!-- SEARCH KEYWORDS -->
				<div class="search">
					<div class="wrapper">
						<input type="search" name="user[job_settings][keywords][]" placeholder="Enter keyword" id="sidebar-search">
						<i class="fa fa-search"></i>
					</div>
				</div>
		
				<div class="sidebar-middle">
		
					<!-- KEYWORDS -->
					<div class="keywords-wrapper <%= "hidden" unless show_keywords? %>">
						<h1 class="keywords">Search Words:</h1>
						<ul class="job-filters keywords-ul">
							<% if current_user.job_settings[:keywords] %>
								<% current_user.job_settings[:keywords].each do |keyword| %>
									<li class="job-sidebar keywords-li selected">
										<%= keyword %>
										<%= check_box_tag "user[job_settings][keywords][]", keyword, checked = true if current_user.job_settings[:keywords] && current_user.job_settings[:keywords].include?(keyword) %>
										<i class="fa fa-angle-right"></i>
										<i class="fa fa-times-circle"></i>
									</li>
								<% end %>
							<% end %>
						</ul>
					</div>
			
					<!-- DEPARTMENT -->
					<div class="wrapper">
						<h1 class="department">
							I'm a:
							<i class="fa fa-caret-down <%= 'hidden' if current_user.job_settings[:dept] %>"></i>
							<i class="fa fa-caret-right <%= 'hidden' unless current_user.job_settings[:dept] %>"></i>
						</h1>
						<ul class="job-filters">
							<% Taxonomy.departments.each do |dept| %>
								<% dept = dept.downcase %>
								<% checked = is_setting_checked?('dept', dept) %>
								<li class="job-sidebar department <%= sel_or_hide(dept.downcase) %>">
									<i class="<%= icon_dept_match(dept) %> left"></i>
									<%= label_tag dept %>
									<%= check_box_tag "user[job_settings][dept][]", dept, checked  %>
									<i class="fa fa-angle-right"></i>
									<i class="fa fa-times-circle"></i>								
								</li>
							<% end %>
						</ul>
					</div>
		
					<!-- SUB DEPT -->	
					<div class="wrapper">
						<h1 class="sub_dept <%= "hidden" unless return_sub_depts.any? %>">
							Specializing in:
							<i class="fa fa-caret-down <%= 'hidden' if current_user.job_settings[:sub_dept] %>"></i>
							<i class="fa fa-caret-right <%= 'hidden' unless current_user.job_settings[:sub_dept] %>"></i>
						</h1>
						<ul class="job-filters">
							<% return_sub_depts.each do |sub| %>
								<% sub = sub.downcase %>
								<% checked = is_setting_checked?('sub_dept', sub) %>
								<% is_hidden = (current_user.job_settings[:dept] &&
								 		current_user.job_settings[:sub_dept]) ? 'hidden' : '' %>
								<li class="job-sidebar <%= checked ? 'selected' : is_hidden %>">
									<%= label_tag sub %>
									<%= check_box_tag "user[job_settings][sub_dept][]", sub, checked %>
									<i class="fa fa-angle-right"></i>
									<i class="fa fa-times-circle"></i>								
								</li>
							<% end %>
						</ul>
					</div>	
			
					<!-- EXPERIENCE -->	
					<% if current_user.job_settings[:dept] %>
						<div class="wrapper">
							<h1 class="experience">
								My experience level:
								<i class="fa fa-caret-down <%= 'hidden' if current_user.job_settings[:years_exp] %>"></i>
								<i class="fa fa-caret-right <%= 'hidden' unless current_user.job_settings[:years_exp] %>"></i>
							</h1>
							<ul class="job-filters">
								<% Taxonomy.years_exp.each do |label, num_years| %>
									<% checked = is_setting_checked?('years_exp', num_years) %>
									<% is_hidden = (current_user.job_settings[:dept] &&
									 		current_user.job_settings[:years_exp]) ? 'hidden' : '' %>								
									<li class="job-sidebar <%= checked ? 'selected' : is_hidden %>">
										<%= label_tag "#{label}-#{label}", label %>
										<%= check_box_tag "user[job_settings][years_exp][]", num_years, checked %>
										<i class="fa fa-angle-right"></i>
										<i class="fa fa-times-circle"></i>								
									</li>
								<% end %>
							</ul>
						</div>
					<% end %>
			
					<!-- KEY SKILLS -->				
					<% if current_user.job_settings[:sub_dept] %>
						<div class="wrapper">
							<h1 class="key-skills">
								and key Skills:
								<i class="fa fa-caret-down <%= 'hidden' if current_user.job_settings[:key_skills] %>"></i>
								<i class="fa fa-caret-right <%= 'hidden' unless current_user.job_settings[:key_skills] %>"></i>
							</h1>
							<ul class="job-filters">
								<% current_user.job_settings[:sub_dept].each do |sub_dept| %>
									<% next if Taxonomy.req_skills["#{sub_dept}"].nil? %>
									<% Taxonomy.req_skills["#{sub_dept}"].each do |skill, array| %>
										<% checked = is_setting_checked?('key_skills', skill) %>
										<% is_hidden = (current_user.job_settings[:dept] &&
										 		current_user.job_settings[:key_skills]) ? 'hidden' : '' %>												
										<li class="job-sidebar key-skills <%= checked ? 'selected' : is_hidden %>">
											<%= label_tag skill %>
											<%= check_box_tag "user[job_settings][key_skills][]", skill, checked %>
											<i class="fa fa-angle-right"></i>
											<i class="fa fa-times-circle"></i>														
										</li>
									<% end %>
								<% end %>
							</ul>
						</div>
					<% end %>
			
					<% if request.env['PATH_INFO'] == '/jobs/flip_view' %>
						<%= hidden_field_tag 'flip-viewer', 'req_from_flip_view' %>
					<% end %>
				
					<%= f.submit "Submit" %>
				<% end %>
			
			</div>
	
			<div class="clear">
				<button id="clear-all">Clear All</button>
			</div>
		<% end %>
		
	</div><!-- roles sidebar wrapper -->
	
	
	<!-- REQUIREMENTS SIDEBAR WRAPPER -->
	
	
	<div class="prefs-sidebar-wrapper hidden">
		<%= render 'pref_sidebar' %>
	</div>
	
</div>

























