<%= render 'sidebar' %>

<div class="jobs-wrapper">
	
	<%= render 'job_navbar' %>

	<ul class="job-posts">
		<% jobs = Job.rank_jobs(@jobs, current_user) %>
		
		<% jobs.each do |job| %>		
			<% if current_user %>
				<% next if current_user.removed_jobs.include?(job) && @filter != 'removed' %>
			<% end %>	

			<li>			
				<%= render './companies/cards/logo', locals: { company: job.listing_company } %>	
				<%= render './jobs/cards/listing_summary', locals: { job: job } %>
				<%= render './jobs/cards/company_overview', locals: { job: job } %>
			</li>
      
			<div id="div-append-<%= job.id %>"></div>
		<% end %>
	</ul>

	<div class="kaminari-wrapper">
		<%#= paginate @jobs %>
	</div>	

</div>

<%= render './layouts/background' %>



