<%= render 'sidebar' %>

<div class="jobs-wrapper">
	<ul class="job-posts">
		<% @jobs.each do |job| %>		
			<li>
				<a href="<%= job.link %>" target="_blank">
					<div class="description">
						<h1><%= job.title %></h1>
						<% if job.description %>
							<p><%= job.description.split(' ')[0..25].join(' ') %>...</p>
						<% end %>
					</div>
					<% if job.listing_company %>
						<img src='<%= asset_path("company_icons/#{job.listing_company.name.downcase}" + ".jpeg") %>' />
					<% end %>
				</a>
			</li>
		<% end %>
	</ul>
</div>

<div class="jobs-background"></div>
<div class="jobs-background-overlay"></div>


<!-- <div class='new-job-wrapper'>
	<%= link_to "Post a job", '#', class: 'new-job-post' %>

	<div id="file">Click to import file</div>

	<%= form_tag import_jobs_url, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag 'Import' %>
	<% end %>
</div> -->

