<%= render 'sidebar' %>

<div class="jobs-wrapper">
	<%= paginate @jobs %>
	
	<ul class="job-posts">
		<% @jobs.each do |job| %>		
			<li>
				
				<div class="description">
					<a href="<%= job.link %>" target="_blank">
						<h1><%= job.title %> <%= job.id %></h1>
					</a>
					<% if job.description %>
						<p><%= job.description.split(' ')[0..25].join(' ') unless job.description.nil? %>...</p>
					<% else %>
						<% if job.full_text %>
							<p><%= job.full_text.split(' ')[0..25].join(' ') unless job.full_text.nil? %>...</p>
						<% end %>
					<% end %>
				</div>
				<% if job.listing_company %>
					<img src='<%= asset_path("/assets/company_icons/#{job.listing_company.name.downcase}" + ".jpeg") %>' />
				<% end %>

				<div class="action-items">
					<%= link_to 'View Listing!', job.link, target: "_blank", class: "apply",
					 			data: { user_id: current_user.id, applied_job_id: job.id }%>
					<%= link_to 'Forward', '#', class: 'forward', data: { id: job.id } %>
					<%= link_to 'Save for Later', user_jobs_url(user_id: current_user.id, 
								saved_job_id: job.id), class: "save", remote: true, method: :post %>
				</div>
				
			</li>
      
			<div id="div-append-<%= job.id %>"></div>
		<% end %>
	</ul>
	
	
</div>

<div class="jobs-background"></div>
<div class="jobs-background-overlay"></div>


<!-- <div class='new-job-wrapper'>
	<%= link_to "Post a job", '#', class: 'new-job-post' %>

	<div id="file">Click to import file</div>

	<%#= form_tag import_jobs_url, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag 'Import' %>
	<%# end %>
</div> -->

