<%= render "./layouts/inpage_navbar" %>

<% user_id = current_user ? current_user.id : nil %>

<ul class="job-posts">
	<% counter ||= 0 %>
	<% page = @page.nil? ? 1 : @page.to_i %>
	<% counter = (page - 1) * 10 %>

	<% @jobs.each do |job| %>		
		<%# next if job.removed_users.include?(current_user) && @filter != 'removed' %>
		<% counter += 1 %>

		<%# applied_class = already_applied?(job) ? "applied_already fa fa-check" : "applied fa fa-check" %>				
		<%# saved_class = has_saved_job?(job) ? "saved fa fa-bookmark" : "save fa fa-bookmark" %>
		<%# removed_class = already_removed?(job) ? "removed_already fa-times-circle-o" : "remove fa fa-times" %>		

		<li class="job-link">
			<%= link_to '', '#', class: 'forward fa fa-mail-forward', data: { id: job.id } %>

			<%= render 'job_listing_preview', locals: { job: job, counter: counter} %>
		</li>
    
		<div id="div-append-<%= job.id %>"></div>
	<% end %>
</ul>

<div class="kaminari-wrapper">
	<%= paginate @jobs %>
</div>	





