<%= render 'sidebar' %>

<div class="jobs-wrapper">
	
	<%= render 'job_navbar' %>
	
	<ul class="job-posts">
		<% @jobs.each do |job| %>		

			<% if current_user %>
				<% next if current_user.removed_jobs.include?(job) %>
			<% end %>	

			<li>			
				<%= render './cards/companies/logo', locals: { company: job.listing_company } %>	
				<%= render './cards/jobs/listing_summary', locals: { job: job } %>
				<%= render './cards/jobs/company_overview', locals: { job: job } %>
			</li>
      
			<div id="div-append-<%= job.id %>"></div>
		<% end %>
	</ul>
	
	<div class="kaminari-wrapper">
		<%= paginate @jobs %>
	</div>
</div>

<%= render './layouts/background' %>



