<div class="preview-action-items">	
	<%= link_to '', job.link, class: 'fa fa-external-link-square', target: '_blank' %>

	<% if already_applied?(job) %>
		<%= link_to '', user_jobs_url(user_id: user_id, applied_job_id: job.id), 
				class: 'applied_already fa fa-check', remote: true, method: :delete %>
	<% else %>
		<%= link_to '', user_jobs_url(user_id: user_id, applied_job_id: job.id), 
				class: "applied fa fa-check", remote: true, method: :post %>
	<% end %>

	<% if has_saved_job?(job) %>
		<%= link_to '', user_jobs_url(user_id: user_id, saved_job_id: job.id), 
				class: "saved fa fa-bookmark", remote: true, method: :delete %>
	<% else %>
		<%= link_to '', user_jobs_url(user_id: user_id, saved_job_id: job.id), 
				class: "save fa fa-bookmark", remote: true, method: :post %>
	<% end %>

	<% if already_removed?(job) %>
		<%= link_to '', user_jobs_url(user_id: user_id, removed_job_id: job.id), 
				class: "removed_already fa fa-times-circle-o", remote: true, method: :delete %>
	<% else %>		
		<%= link_to '', user_jobs_url(user_id: user_id, removed_job_id: job.id), 
				class: "remove fa fa-times", remote: true, method: :post %>
	<% end %>

</div>