<% user_id = current_user ? current_user.id : nil %>
<% job = @job %>

<% applied_class = already_applied?(job) ? "applied_already fa fa-check" : "applied fa fa-check" %>				
<% saved_class = has_saved_job?(job) ? "saved fa fa-bookmark" : "save fa fa-bookmark" %>
<% removed_class = already_removed?(job) ? "removed_already fa-times-circle-o" : "remove fa fa-times" %>

<ul>
	<li>
		<span class="group">
			<%= render 'job_listing_preview', locals: { job: job } %>
			<%= render 'job_action_items', locals: { job: job } %>
		</span>

		<div class="wolfpack-report-wrapper">
			<%= render './companies/company_report', locals: { job: job, company: job.listing_company } %>
		</div>
	</li>

	<li id="wolfpack-option-popup" class="hidden">
		<div class="article-card-wrapper wolfpack-popup">
			<h2>Let Wolfpack do the work for you!</h2>
			<p>We don't have a direct relationship with <%= job.listing_company.name %>, but will reach out to the company on your behalf if you proceed with this option.</p>
			<p>As a disclaimer, there is no guarantee that we will be successful in our efforts, and to ensure your application reaches its target, you may apply directly with the company by clicking <%= link_to 'here', job.link, target: '_blank' %></p>
			<p>As a reminder, Wolfpack is currently being offered free of charge, both to you and the hiring company.</p>
			<p>To proceed, complete the form below (all fields are optional):</p>
		</div>
	
		<%= render './users/profile_history' %>
	
		<div class="action-items wolfpack-popup">  
			<%= link_to 'Cancel', :back, id: 'cancel' %>
			<%= button_to 'Done', user_job_preapprovals_url(job_id: job.id, preapproval_applicant_id: current_user.id), id: 'done' %>
		</div>
	</li>
</ul>


