<div class="wolfpack-option-popup">
	<div class="article-card-wrapper wolfpack-popup">
		<h2>Let Wolfpack do the work for you!</h2>
		<p>We'll approach <%= @job.listing_company.name %> on your behalf to see if there is mutual interest. All inquiries are double-blind, double opt-in (both parties have to agree first).</p>
		<p>Note: you may also apply directly with the company by clicking <%= link_to 'here', @job.link, target: '_blank' %></p>
		<p>To proceed, complete the form below (all fields optional):</p>
	</div>

	<%= render './users/profile_history' %>

	<div class="action-items wolfpack-popup">  
		<%= link_to 'Cancel', :back, id: 'cancel' %>
		<%= button_to 'Done', user_job_preapprovals_url(job_id: @job.id, preapproval_applicant_id: current_user.id), id: 'done' %>
	</div>

<p class="reminder">As a reminder, Wolfpack is currently being offered free of charge, both to you and the hiring company.</p>		
	
</div>