<div class="modal-background"></div>

<div class="session-form">
	<%= form_for(@user) do |f| %>

		<%= render 'shared/errors', object: f.object %>
		<%= render 'shared/flash' %>		

		<%= f.text_field :email, placeholder: 'Enter Email' %>

		<%= f.password_field :password, placeholder: 'Enter password' %>

		<%= f.submit "Submit" %>

	<% end %>
</div>
