<div class="modal-background"></div>

<div class="session-form">
	<%= form_for @user, url: user_url(@user), html: { multipart: true } do |f| %>

		<%= render 'shared/errors', object: f.object %>
		<%= render 'shared/flash' %>		
		
		<span class="social"> 1. Sign up via social: 
			<%= link_to "", "/auth/facebook", class: "fa fa-facebook-square" %>
			<%= link_to "", "/auth/twitter", class: "fa fa-twitter-square" %>
			<%= link_to "", "/auth/google_oauth2", class: "fa fa-google-plus-square" %>
			<%= link_to "", "#", class: "fa fa-github-square" %>
			<%= link_to "", "#", class: "fa fa-linkedin-square" %>
		</span>
		
		<div class="login-wrap">
			<h1>2. Or sign up as new user below</h1>
			<%= f.text_field :email, placeholder: 'Enter Email' %>
		
			<% if !@user.persisted? %>
				<%= f.password_field :password, placeholder: 'Enter password' %>
			<% end %>
			
			<%= f.submit "Submit" %>
		</div>

	<% end %>
</div>
