<h2 class="dark-banner">
Online Profiles
</h2>

<p class="users-editable"
contenteditable= "true"
data-id="<%= current_user.id %>" 
data-table="users"
data-model="user"
data-attribute="linkedin_url">  
<%= current_user.linkedin_url || 'Input LinkedIn Profile URL' %></p>

<p class="users-editable"
contenteditable= "true"
data-id="<%= current_user.id %>" 
data-table="users"
data-model="user"
data-attribute="github_url">  
<%= current_user.github_url || 'Input GitHub URL' %></p>

<p class="users-editable"
contenteditable= "true"
data-id="<%= current_user.id %>" 
data-table="users"
data-model="user"
data-attribute="stack_overflow">  
<%= current_user.stack_overflow || 'Input Stack Overflow Username' %></p>

<p class="users-editable"
contenteditable= "true"
data-id="<%= current_user.id %>" 
data-table="users"
data-model="user"
data-attribute="behance_url">  
<%= current_user.behance_url || 'Input Behance URL' %></p>

<p class="users-editable"
contenteditable= "true"
data-id="<%= current_user.id %>" 
data-table="users"
data-model="user"
data-attribute="personal_blog_url">  
<%= current_user.personal_blog_url || 'Input Personal Blog URL' %></p>

<p class="users-editable"
contenteditable= "true"
data-id="<%= current_user.id %>" 
data-table="users"
data-model="user"
data-attribute="twitter_username">
<%= current_user.twitter_username %></p>








