<% user = locals[:user] %>

<!-- USERS SIDEBAR -->
<div class="sidebar-wrapper user profile-sidebar">
	
	<!-- SEARCH KEYWORDS -->
	<div class="search">
		<div class="wrapper">
			<input type="search" 
						 name="user_search[keywords]" 
						 placeholder="Enter keyword" id="sidebar-search">
			<i class="fa fa-search"></i>
		</div>
	</div>
	
	<div class="sidebar-middle">
			
		<!-- KEYWORDS -->
		<% if !locals[:keywords].nil? && !locals[:keywords].empty? %>
		
		<% end %>
		
		<% counter = 0 %>
		<% Taxonomy.categories_hash.each do |key_category, val_subcat_arr| %>
			<div class="wrapper">
				<% if counter == 0 %>
<!-- 					<h1 class="first-h1">
						<%#= user.fname %> 
						Activity
					</h1> -->
					<% counter += 1 %>
				<% end %>
				<h1 class="user-profile-sidebar <%= normalize_string(key_category) %>"
					data-tag-id="<%= Tag.find_by_tag_name(normalize_string(key_category)).id %>">
					<%= key_category %>
					<i class="fa fa-caret-down hidden"></i>
					<i class="fa fa-caret-right"></i>	
				</h1>			
				<ul class="job-filters">
					<% val_subcat_arr.each do |subcat| %>
						<li class="job-sidebar hidden"
							data-tag-id="<%= Tag.find_by_tag_name(normalize_string(subcat)).id %>">
							<%= label_tag subcat %>
							<%= check_box_tag "user_search[dept][]", subcat %>
							<i class="fa fa-angle-right"></i>
							<i class="fa fa-times-circle"></i>								
						</li>						
					<% end %>
				</ul>
			</div>
		<% end %>
		
	</div>
	
</div>