<div class="article-card-wrapper recent-work">
  <h1 class="dark-banner">
    Profile History
  </h1>

  <h2>LI</h2>
  <p><%= current_user.linkedin_url %></p>

  <h2>GH</h2>
  <p><%= current_user.github_url %></p>

  <h2>TW</h2>
  <p><%= current_user.stack_overflow %></p>

  <h2>BH</h2>
  <p><%= current_user.behance_url %></p>

  <h2>PB</h2>
  <p><%= current_user.personal_blog_url %></p>

  <h2>TW</h2>
  <p><%= current_user.twitter_username %></p>

</div>