<% user = locals[:user] %>
<% this_table = 'users' %>
<% this_model = this_table.singularize %>
<% is_editable = bcard_editable?(user) %>

<div class="business-card">
  <div class="info">
		
		<div class="full-name">	
		  <h1 class="h1-fname users-editable"
				contenteditable="<%= is_editable %>"
				data-table="<%= this_table %>"
				data-model="<%= this_model %>"
				data-id=<%= user.id %> 
				data-attribute='fname'>
				<% if action_name == 'show' %>
					<%= (user.fname.nil? || user.fname.empty?) ? 'First Name' : user.fname %>
				<% elsif action_name == 'index' %>
					<%= link_to "#{user.fname}", user_url(user) %>
				<% end %>
		  </h1>
		
		  <h1 class="h1-lname users-editable" 
				contenteditable="<%= is_editable %>"
				data-table="<%= this_table %>"
				data-model="<%= this_model %>"
				data-id=<%= user.id %> 
				data-attribute='lname'>
				<% if action_name == 'show' %>
					<%= (user.lname.nil? || user.lname.empty?) ? 'Last Name' : user.lname %>
				<% elsif action_name == 'index' %>
					<%= link_to "#{user.lname}", user_url(user) %>				
				<% end %>					
		  </h1>
		</div>
		
		<div class="bcard-title">
			<h2>I'm a</h2>
		  <h2 id="title"
				class="users-editable"
				contenteditable="<%= is_editable %>"
				data-table="<%= this_table %>"
				data-model="<%= this_model %>"
				data-id=<%= user.id %> 
				data-attribute='title'>
		
				<%= (user.title.nil? || user.title.empty?) ? 'Title' : user.title %>
		  </h2>
		</div>
	
		<div class="bcard-employer">
			<h2>at </h2>
			<h2 id="employer" data-id="<%= user.id %>">
				<%= (user.employer.nil? || user.employer.name.empty?) ? 'Placeholder' : user.employer.name %>
			</h2>
		</div>
		
		<div class="bcard-location">
			<h2>I work in </h2>
		  <h2 id="location" 
				class="users-editable"		
				contenteditable="<%= is_editable %>"
				data-table="<%= this_table %>"
				data-model="<%= this_model %>"
				data-id=<%= user.id %> 
				data-attribute='location'>
				<%= (user.location.nil? || user.location.empty?) ? 'Location' : user.location %>
		  </h2>
		</div>
		

		<div class="bcard-location-two">
			<h2>I'm from </h2>
		  <h2 id="location-two"
				class="users-editable"		 
				contenteditable="<%= is_editable %>"
				data-table="<%= this_table %>"
				data-model="<%= this_model %>"
				data-id=<%= user.id %> 
				data-attribute='location_from'>
				<%= (user.location_from.nil? || user.location_from.empty?) ? 'Location' : user.location_from %>		  
			</h2>
		</div>	
		
  </div>
	
	<% if user.avatar.exists? %>
		<%= image_tag user.avatar.url %>
	<% end %>
	<% if (current_user == user || current_user.is_admin) %>
		<div class="uploader <%= 'hidden' if user.avatar.exists? %>">
			<span class="insert-image-span">
				<i class="fa fa-picture-o"></i>
				<span>Insert Image</span>	
			</span>		
			<%= form_for user, url: user_url(user), html: { multipart: true} do |f| %>
				<%= f.file_field :avatar %>
				<%= f.submit %>
			<% end %>
		</div>
	<% end %>

</div>