<!-- <div class="modal-background"></div> -->

<div class="edit-business-card">
	<%= form_for @user, url: user_url(@user), html: { multipart: true } do |f| %>

		<%= render 'shared/errors', object: f.object %>
		<%= render 'shared/flash' %>		

		<%= f.text_field :email, placeholder: 'Enter Email' %>

		<%= f.text_field :fname, placeholder: 'First Name' %>
		<%= f.text_field :lname, placeholder: 'Last Name' %>
		
		
		
		<%= f.text_field :title, placeholder: 'Title' %>
		<%= f.text_field :location, placeholder: 'Location' %>

		<%= f.text_field :email, placeholder: 'Enter Email' %>

	
		<% if !@user.persisted? %>
			<%= f.password_field :password, placeholder: 'Enter password' %>
		<% end %>
	
		<%= f.file_field :avatar %>

		<%= f.submit "Submit" %>

	<% end %>
</div>