<%= render "./layouts/inpage_navbar" %>


<% this_table = "users" %>
<% this_model = this_table.singularize %>

<%= render './cards/user_preview', locals: { user: @user, this_table: this_table } %>
	
<div id="top-id"></div>		

<div class="article-wrapper">
	<%= render './cards/recent_work', locals: { user: @user } %>
</div>	

<div class="article-wrapper">
	<%= render 'users/profile_history', locals: { user: @user } %>
</div>	

<div class="article-wrapper skills">
	<%= render 'shared/drag_and_drop', locals: { user: @user } %>
</div>					

<div class="article-wrapper">
	<%= render './cards/references', locals: { user: @user } %>
</div>

<% if @articles.any? %>
	<% @articles.each do |article| %>
		<%= render './articles/article', 
			locals: { object: @user, article: article, this_table: this_table } %>
	<% end %>
<% end %>








