<%= render "./layouts/inpage_navbar" %>


<% this_table = "users" %>
<% this_model = this_table.singularize %>

<%= render './cards/user_preview', locals: { user: @user, this_table: this_table } %>
	
<div id="top-id"></div>		

<div class="article-wrapper skills">
	<h1>My Skills</h1>
	<%= render 'shared/drop_zone', locals: { user: @user } %>
  <%= render 'shared/box_of_logos', locals: { user: @user }  %>
</div>				

<% if @articles.any? %>
	<% @articles.each do |article| %>
		<%= render './articles/article', 
			locals: { object: @user, article: article, this_table: this_table } %>
	<% end %>
<% end %>








