<% this_table = "users" %>
<% this_model = this_table.singularize %>
	
<%= render 'profile_sidebar', locals: {
	user: @user
} %>

<div class="user-show-wrapper group">

	<div class="profile-card-positions group">
		<%= render './companies/cards/logo', locals: { company: @user.employer, user: @user }%>
		<%= render 'users/cards/intro', locals: { user: @user, this_table: this_table } %>
		<%= render 'users/cards/bcard', locals: { user: @user, this_table: this_table } %>
		<%#= render 'users/cards/action_items', locals: { user: @user } %>
	</div>	

	<%= render 'in_page_nav', locals: { user: @user, recent_articles: @recent_articles } %>	

		<div id="top-id"></div>		

	  <div class="article-wrapper skills">
	  	<h1>My Skills</h1>
			<%= render 'shared/drop_zone', locals: { user: @user } %>
	    <%= render 'shared/box_of_logos', locals: { user: @user }  %>
	  </div>				
		
		<% if @articles.any? %>
			<% @articles.each do |article| %>
				<%= render './articles/article', 
					locals: { object: @user, article: article, this_table: this_table } %>
			<% end %>
		<% else %>
			<% new_article = Article.create %>
			<% user_article = UserArticle.create(user_id: @user.id, article_id: new_article.id) %>
			<%= render './articles/article', locals: { object: @user, article: new_article, this_table: this_table } %>
		<% end %>

	</div>

<%= render './layouts/background' %>







