<% object = locals[:user] || locals[:job] || locals[:company] %>
<% obj_class_id = object.class.to_s.downcase + '_id' %>

<!-- DROP SKILLS -->
<div class='droppable-wrapper group'>

	<h1>
	<!-- <h1 class="dark-banner"> -->
		Tech Stack
		<%= link_to 'Add Skills', '#', id: 'edit-skills', class: 'right' %>
		<%= link_to 'Done', '#', id: 'save-skills', class: 'hidden right' %>
	</h1>

	<ul class="skills-ul <%= object.class.to_s.downcase %>-<%= object.id %>">
		<% object.tech_stack.each do |skill_obj| %>
			<% object_skill = ObjectSkill.where(obj_class_id => object.id, skill_id: skill_obj.id).first %>

			<li class="user-skills is-draggable left" data-object-skill-id="<%= object_skill.id %>">
				<% skill_icon = icon_skill_match(skill_obj.skill_name) %>
				
				<% if skill_icon %>
					<span class="skill-icon-wrapper">
						<i class="<%= skill_icon %> skill-icon"></i>
						<span class="skill-name"><%= skill_obj.skill_name.titleize %></span>
					</span>
				<% else %>
					<% if skill_obj.logo.exists? %>
						<span class="skill-image">
							<%= image_tag(skill_obj.logo.url) %>
							<span class="skill-name"><%= skill_obj.skill_name.titleize %></span>
						</span>				
					<% end %>
				<% end %>
			
		<% end %>
		</li>

		<span class="add-skill hidden">
			<li id="add-skill-li" class="user-skills">+ Drag skill from below up here!</li>
		</span>
	</ul>

</div>

<!-- DRAG SKILLS -->
<% if current_user.job_settings[:sub_dept] %>
	<% first_sub_dept = current_user.job_settings[:sub_dept].first %>
<% else %>
	<% first_sub_dept = 'back-end' %>
<% end %>

<div class="box-of-logos is-droppable hidden">
	<ul class="box-of-logos-ul group">

		<span class="dept-selector-wrap">
			<% Taxonomy.departments.each do |dept| %>
				<span class="dept-selector" data-dept='<%= dept.downcase %>'>
					<%= dept %>
				</span>
			<% end %>
		</span>

		<% Taxonomy.departments.each do |dept| %>
			<% skill_hash = Skill.return_skill_hash_from_dept(dept.downcase) %>

			<div class="group <%= dept.downcase %> sub-dept-selector">
				<% skill_hash.each do |key, val_obj_arr| %>
					<% this_class = "#{key} " + "#{dept.downcase} " + "#{'hidden' if dept.downcase != 'engineer'}" %>
					<%= link_to key.gsub('-', ' ').titleize, '#', class: this_class, data: { selected: key } %>
				<% end %>
			</div> 

			<% skill_hash.each do |key, val_obj_arr| %>
					<% val_obj_arr.each do |skill_obj| %>
						<% next if object.tech_stack.include?(skill_obj) %>

						<% skill_icon = icon_skill_match(skill_obj.skill_name) %>

						<li class="<%= key %> <%= 'hidden' unless key == 'back-end' %> left is-draggable" 
							data-skill-id="<%= skill_obj.id %>" data-object-id="<%= object.id %>" 
							data-object-class="<%= object.class.to_s.downcase %>">

							<% if skill_icon %>
								<span class="skill-icon-wrapper">
									<i class="<%= skill_icon %> skill-icon"></i>
									<span class="skill-name"><%= skill_obj.skill_name.titleize %></span>
								</span>
							<% else %>
								<% if skill_obj.logo.exists? %>
									<span class="skill-image">
										<%= image_tag(skill_obj.logo.url) %>
										<span class="skill-name"><%= skill_obj.skill_name.titleize %></span>
									</span>				
								<% end %>
							<% end %>
						</li>
					<% end %>
			<% end %>												
		<% end %>
	</ul>
	
</div>





