<div class='droppable-wrapper'>
	<div class="skill-dropzone is-droppable">
		<ul class="skills-ul">
			<% @user.user_skills.sort.each do |user_skill| %>
				<li class="user-skills" data-userskill="<%= user_skill.id %>">
					<%= insert_image_or_text(user_skill.skill) %>
					
					<div class="level-wrap">
						<%= form_for user_skill, remote: true, method: :put do |f| %>
							<% 5.times do |idx| %>
								<% idx_plus_one = idx + 1 %>
								<% selected = (user_skill.level == idx_plus_one) ? 'selected' : '' %>
								<% this_label = "#{user_skill.skill}_" + "#{idx_plus_one}" %>
								<label for="<%= this_label %>" class="skill-radio <%= selected %>"><%= idx_plus_one %></label>
								<input id="<%= this_label %>" name="user_skill[level]" type="radio" value="<%= idx_plus_one %>">
							<% end %>
							
							<%= f.submit 'Submit' %>
						<% end %>
					</div>
					
				</li>
			<% end %>
			<li class="user-skills">+ Drag a new skill anywhere up here!</li>
		<ul>
	</div>
</div>