<% user = locals[:user] %>

<div class='droppable-wrapper'>
	<div class="skill-dropzone">
		<ul class="skills-ul">
			<% user.user_skills.sort.each do |user_skill| %>
				<li class="user-skills" data-userskill="<%= user_skill.id %>">
					<%= insert_image_or_text(user_skill.skill) %>
					
					<div class="level-wrap">
						<%= form_for user_skill, remote: true, method: :put do |f| %>
							<% [
								['Entry', 1],
								['Junior', 2],
								['Mid', 3],
								['Lead', 4],
								['Guru', 5]
								].each do |label, year| %>
								<% selected = (user_skill.level == year) ? 'selected' : '' %>
								<% this_label = "#{user_skill.skill}_" + "#{year}" %>
								<label for="<%= this_label %>" class="skill-radio <%= selected %>"><%= label %></label>
								<input id="<%= this_label %>" name="user_skill[level]" type="radio" value="<%= year %>">
							<% end %>
							
							<%= f.submit 'Submit' %>
						<% end %>
					</div>
					
				</li>
			<% end %>
			<li id="add-skill" class="user-skills hidden">+ Drag a new skill from below anywhere up here!</li>
		<ul>
	</div>
</div>