<% object = locals[:user] || locals[:job] || locals[:company] %>
<% obj_class_id = object.class.to_s.downcase + '_id' %>

<div class='droppable-wrapper'>
	<div class="skill-dropzone">
		<% if current_user %>
			<%= link_to 'Add Skills', '#', id: 'edit-skills' %>
			<%= link_to 'Done', '#', id: 'save-skills', class: 'hidden' %>
		<% end %>

		<ul class="skills-ul <%= object.class.to_s.downcase %>-<%= object.id %>" >
			<% object.tech_stack.each do |skill_obj| %>
				<% object_skill = ObjectSkill.where(obj_class_id => object.id, skill_id: skill_obj.id).first %>
				<li class="user-skills" data-object-skill-id="<%= object_skill.id %>">
					<% if skill_obj.logo.exists? %>
						<%= image_tag(skill_obj.logo.url, class: 'is-draggable') %>
					<% else %>
						<%= render './shared/upload_logo', locals: { object: skill_obj } %>
					<% end %>
				</li>
			<% end %>
			<li id="add-skill" class="user-skills hidden">+ Drag a new skill from below anywhere up here!</li>
		</ul>
	</div>
</div>

