<!-- <div class="jobs-wrapper">
	<ul class="job-posts"> -->
		
		<table class="pretty">
			<tr>
				<th>Company Name</th>
				<th><%= sortable("title") %></th>
				<th><%= sortable("dept") %></th>
				<th><%= sortable("sub_dept") %></th></th>
			</tr>
			
			<% @jobs.each do |job| %>		
				<tr>
					<td>company: <%= job.listing_company.name %></td>
					<td>title: <%= job.title %></td>
					<td>primary_dept: <%= job.dept %></td>
					<td>secondary_dept: <%= job.sub_dept %></td>
				</li>
			<% end %>

	</table>
	<!-- </ul>
</div> -->

<div class="jobs-background"></div>
<div class="jobs-background-overlay"></div>