<% company = locals[:company] %>
<% user = locals[:user] %>

<div class="company-business-card left">
	<% if !company.nil? && company.logo.exists? %>
		<%= image_tag company.logo.url %>
		<!-- <img src='<%= asset_path("/assets/company_icons/#{company.name.try(:downcase)}" + ".jpeg") %>' /> -->
	<% else %>
		<% if company && (user == current_user && current_user.is_admin?) %>
			<%= form_for company, url: company_url(company), html: { multipart: true } do |f| %>
				<h1>Insert Company Logo</h1>
				<%= f.file_field :logo %>
				<%= f.submit %>
			<% end %>
		<% end %>
	<% end %>
</div>