<% company = locals[:company] %>

<!-- this is for companies and users -->
<div class="company-profile-wrapper">

	<div class="company-logo-wrap left">
		<% if company.logo.exists? %> 
			<%= image_tag company.logo.url, class: 'company-logo' %>
		<% else %>
			<%#= company.name %>
		<% end %>
	</div>	

	<div class="company-desc left">
		<h1><%= company.name %> <%= company.id if current_user.is_admin %></h1>
		<p class="companies-editable"
			contenteditable="true"
			data-id="<%= company.id %>" 
			data-table="companies"
			data-model="company"
			data-attribute="overview">
			<%= (company.overview.nil? || company.overview.empty?) ? '-' : company.overview %>
		</p>
	</div>	

	<div class="company-profile-action-items left">

		<h3>
			<span>Founded:</span>
			<span contenteditable="true"
				data-id="<%= company.id %>" 
				data-table="companies"
				data-model="company"
				data-attribute="year_founded"
				class="companies-editable">				
				<%= company.year_founded.nil? ? "-" : company.year_founded %>
			</span>
		</h3>		

		<h3>
			<span>Funding:</span>
			<span contenteditable="true"
				data-id="<%= company.id %>" 
				data-table="companies"
				data-model="company"
				data-attribute="total_money_raised"
				class="companies-editable">				
				<%= (company.total_money_raised.nil? || company.total_money_raised.empty?) ? "-" : company.total_money_raised %>
			</span>
		</h3>
		
		<h3>
			<span>Employees:</span>
			<span contenteditable="true"
				data-id="<%= company.id %>" 
				data-table="companies"
				data-model="company"
				data-attribute="num_employees"
				class="companies-editable">				
				<%= company.num_employees.nil? ? "-" : company.num_employees %>
			</span>			
		</h3>

		<h3>
			<span>Category:</span>
			<span contenteditable="true"
				data-id="<%= company.id %>" 
				data-table="companies"
				data-model="company"
				data-attribute="category_code"
				class="companies-editable">				
				<%= (company.category_code.nil? || company.category_code.empty?) ? "-" : company.category_code %>
			</span>			
		</h3>

		<h3>
			<span>City:</span>
			<span contenteditable="true"
				data-id="<%= company.id %>" 
				data-table="companies"
				data-model="company"
				data-attribute="city"
				class="companies-editable">				
				<%= (company.city.nil? || company.city.empty?) ? "-" : company.city %>
			</span>			
		</h3>			

		<h3>
			<span>Hood:</span>
			<span contenteditable="true"
				data-id="<%= company.id %>" 
				data-table="companies"
				data-model="company"
				data-attribute="neighborhood"
				class="companies-editable">				
				<%= (company.neighborhood.nil? || company.neighborhood.empty?) ? "-" : company.neighborhood %>
			</span>			
		</h3>			
	</div>	

</div>

















