<% company = locals[:company] %>
<% this_table = 'jobs' %>
<% this_model = this_table.singularize %>
<% is_editable = current_user.is_admin %>

<% company.job_listings.order("created_at DESC").each do |job| %>

	<div class="company-job-wrapper left">			
		<%= render './jobs/cards/listing_summary', locals: { job: job } %>
	</div>
	
	<div class="job-key-stats left">
		<p><%= link_to 'Import Data', import_data_job_url(job), method: :post %></p>
		<p><%= link_to 'Destroy job', job_url(job), method: :delete, data: { confirm: 'Sure?' } %></p>
		<p>(Job ID: <%= job.id %>)</p>
	
		<p>
			<span class="jobs-editable"
				contenteditable= "<%= is_editable %>"
				data-id="<%= job.id %>" 
				data-table="<%= this_table %>"
				data-model="<%= this_model %>"
				data-attribute="dept">
				<%= (job.dept.nil? || job.dept.empty?) ? 'Dept Here' : job.dept.titleize %>
			</span>
		</p>
		
		<p>
			<span class="jobs-editable"
				contenteditable= "<%= is_editable %>"
				data-id="<%= job.id %>" 
				data-table="<%= this_table %>"
				data-model="<%= this_model %>"
				data-attribute="sub_dept">
				<%= (job.sub_dept.nil? || job.sub_dept.empty?) ? 'SubDept Here' : job.sub_dept.titleize %>
			</span>
		</p>
		
		<p>
			<span class="jobs-editable"
				contenteditable= "<%= is_editable %>"
				data-id="<%= job.id %>" 
				data-table="<%= this_table %>"
				data-model="<%= this_model %>"
				data-attribute="years_exp">
				<%= (job.years_exp.nil? || job.years_exp.to_s.empty?) ? 'Years Exp' : job.years_exp %>
			</span>
		</p>
		
	</div>
	
	<div class="job-admin-section">
			
		<p><span class="heading">Link: </span><%= link_to "#{job.link}", "#{job.link}" %></p>		

		<p>
			<span class="jobs-editable"
				contenteditable= "<%= is_editable %>"
				data-id="<%= job.id %>" 
				data-table="<%= this_table %>"
				data-model="<%= this_model %>"
				data-attribute="full_text">
				<%= (job.full_text.nil? || job.full_text.empty?) ? 'Full Text Here' : sanitize(job.full_text) %>
		</p>
		
		<p><span class="heading">Key Phrases: </span><%= best_in_place job, :key_phrases, path: update_req_skills_job_url(job) %></p>
		<p>
			<span class="heading">Req Skills: </span>
				<%= form_for(job) do |f| %>
					<%= hidden_field_tag "job[req_skills][]", "" %>
					<% if Taxonomy.req_skills["#{job.sub_dept}"] %>
						<% Taxonomy.req_skills["#{job.sub_dept}"].each do |skill, key_word_arr| %>
							<label>
								<%= skill %>
								<%= check_box_tag "job[req_skills][]", skill, is_attr_checked?(job, 'req_skills', skill) %>			
							</label>
						<% end %>
					<% end %>
					<%= f.submit "Submit" %>
				<% end %>
		</p>
		</div>
<% end %>