<% company = locals[:company] %>
<% this_table = "companies" %>

<div class="company-top-wrapper">
	<%= render './cards/companies/logo', locals: { company: company } %>
	<%= render './cards/companies/overview', locals: { company: company, this_table: this_table } %>
	<%= render './cards/companies/stats', locals: { company: company, this_table: this_table } %>
</div>

<%= render 'nav_and_sections', locals: { company: company, this_table: this_table } %>

<% if company.persisted? %>
	<%= render 'company_jobs', locals: { company: company } %>
<% end %>