<% company = locals[:company] %>
<% this_table = "companies" %>

<div class="company-top-wrapper group">
	<%= render 'companies/company_bcard', locals: { company: company } %>
	<%= render 'companies/cards/overview', locals: { company: company, this_table: this_table } %>
	<%= render 'companies/cards/stats', locals: { company: company, this_table: this_table } %>
</div>

<%= render 'nav_and_sections', locals: { company: company, this_table: this_table } %>

<% if company.persisted? %>

	<%= render './shared/drop_zone', locals: { company: company } %>
	<%= render './shared/box_of_logos', locals: { company: company }  %>
	
	<%= render 'company_jobs', locals: { company: company } %>
<% end %>