<% company = locals[:company] %>

<% company.job_listings.order("created_at DESC").each do |job| %>

	<div class="company-job-wrapper left">			
		<%= render './jobs/cards/listing_summary', locals: { job: job } %>
	</div>
	
	<div class="job-key-stats left">
		<p><%= link_to 'Import Data', import_data_job_url(job), method: :post %></p>
		<p><%= link_to 'Destroy job', job_url(job), method: :delete, data: { confirm: 'Sure?' } %></p>
		<p>Job ID: <%= job.id %>)</p>
		<p><span class="heading">Dept: </span><%= best_in_place job, :dept, type: :input, inner_class: 'dept', data: { autocomplete: true } %></p>
		<p><span class="heading">SubDept: </span><%= best_in_place job, :sub_dept %></p>
		<p><span class="heading">YearsExp: </span><%= best_in_place job, :years_exp %></p>
	</div>
	
	<div class="job-admin-section">
			
		<p><span class="heading">Link: </span><%= link_to "#{job.link}", "#{job.link}" %></p>		
		<p><span class="heading">Full Text: </span><%= best_in_place job, :full_text, type: :textarea %></h3></p>
		<p><span class="heading">Key Phrases: </span><%= best_in_place job, :key_phrases, path: update_req_skills_job_url(job) %></p>
		<p>
			<span class="heading">Req Skills: </span>
				<%= form_for(job) do |f| %>
					<%= hidden_field_tag "job[req_skills][]", "" %>
					<% Taxonomy.key_skill_degrees.flatten.each do |skill| %>
						<label>
							<%= skill %>
							<%= check_box_tag "job[req_skills][]", skill, req_skill_checked?(job, skill) %>			
						</label>
					<% end %>
			
					<%= f.submit "Submit" %>
				<% end %>
		</p>
		</div>
<% end %>