<% company = locals[:company] %>
<% this_table = locals[:this_table] %>
<% this_model = this_table.singularize %>

<div class="company-mid-wrapper">
	
	<% sections = ['Join Us!', 'Why Us?', 'Your Role', 'Day in the Life', 'More Info', "Apply Now (it's easy)!"] %>
	
	<div class="company-navbar">
		<%#= link_to 'Our Office', '#', data: { company: "#{company.name}", section: "the-office" } %>
		<%#= link_to 'Recent Work', '#', data: { company: "#{company.name}", section: "recent-work" }  %>
		<%#= link_to 'A Day in the Life..', '#', data: { company: "#{company.name}", section: "day-in-life" }  %>
		<%#= link_to "We're Hiring!", '#', data: { company: "#{company.name}", section: "job-openings" }  %>
		<%#= link_to 'References', '#', data: { company: "#{company.name}", section: "references" }  %>
		<%#= link_to 'For Investors', '#' %>
		<% sections.each do |section| %>
			<% data_section = section.downcase.gsub(/[^a-z0-9\s]/, '').strip.gsub(/\s/, '-') %>
			<%= link_to "#{section}", '#', data: { company: "#{company.name}", section: "#{data_section}" }%>
		<% end %>
	</div>
	
	<div id="<%= company.name %>-top-id"></div>
	
	<% sections.each do |section| %>
		<% section_class = section.downcase.gsub(/[^a-z0-9\s]/, '').strip.gsub(/\s/, '-') %>
		<div class="<%= section_class %> <%= company.name %> content"
			contenteditable="true"
			data-table="<%= this_table %>"
			data-model="<%= this_model %>"
			data-id=<%= company.id %>>
			<%= add_placeholder_if_nil(company, section) %>
		</div>
	<% end %>
	
	<!-- <div class="the-office <%= company.name %> content">
		<h1>Welcome to <%= company.name %>'s office in <%= company.neighborhood %>!</h1>
		<br>
		<p>More info, pictures of the space</p>
	</div>
	
	<div class="recent-work <%= company.name %> content">
		<h1>Recent Work</h1>
		<br>
		<p>Pushing code for to get the Python binaries working</p>	
		<br>					
		<p>We've gotten a TON of emails from Python devs asking when MongoDB is going to</p>						
		<br>
		<p>release a patch for them. Thanks to our lead dev, Tom Skorsky, and his team of hard-working</p>						
	</div>
	
	<div class="day-in-life <%= company.name %> content">
		<h1>A Day in the Life...</h1>
		<br>
		<p>Morning: roll into the office around 9:30-10:00AM.</p>	
		<br>					
		<p>The first thing I do is scan the daily news headlines and internal message boards</p>						
		<br>
		<p>to see if anything really important happened that was of interest. I then scan my email for...</p>												
	</div>
	
	<div class="job-openings <%= company.name %> content">
		<h1>Placeholder</h1>
		<br>
		<p>Job placeholder</p>	
		<br>					
		<p>Job placeholder</p>	
		<br>
		<p>Job placeholder</p>	
	</div>
	
	<div class="references <%= company.name %> content">
		<h1>Placeholder</h1>
		<br>
		<p>Job placeholder</p>	
		<br>					
		<p>Job placeholder</p>	
		<br>
		<p>Job placeholder</p>	
	</div> -->
</div>