<% company = locals[:company] %>
<% this_table = locals[:this_table] %>
<% this_model = this_table.singularize %>

<div class="company-mid-wrapper">
	
	<div class="company-navbar">
		<% get_unique_tags(company).each do |tag_name| %>
			<% data_section = tag_name.downcase.gsub(/[^a-z0-9\s]/, '').strip.gsub(/\s/, '-') %>
			<%= link_to "#{tag_name}", '#', data: { company: "#{company.name}", section: "#{data_section}" }%>
		<% end %>
	</div>
	
	<div id="<%= company.name %>-top-id"></div>
	
	<% company.articles.each do |article| %>
		<% section_class = article.tags[0].tag_name.downcase.gsub(/[^a-z0-9\s]/, '').strip.gsub(/\s/, '-') %>
		
		<div class="editor-class-wrapper content <%= section_class %> <%= company.name %>" data-id=<%= company.id %> data-articleid=<%= article.id %>>
			<%= render './shared/editor' %>
			<% section_title = add_placeholders_if_nil('title', article.title) %>			
			<div class="title" contenteditable="true" data-placeholder="Enter Title">
				<%= raw(section_title) %>
			</div>
			
			<article class="editable body" data-placeholder="Type your post">
				<% section_body = add_placeholders_if_nil('body', article.body) %>	
				<%= raw(section_body) %>
				<%= render './shared/upload_image_form', locals: { obj: company, article: article } %>
			</article>
			
			<% this_image_url = "#{company.snapshots.url}".split('.')[0] + "#{article.id}" + "." + "#{company.snapshots.url}".split('.')[1]%>
			<% full_path = "#{Rails.root}" + "/public" + this_image_url %>
			<% full_path = full_path.split('?')[0] %>
			
			<% if image_exists?(full_path) %>
				<%= image_tag this_image_url %>
				<%= link_to 'Delete Image', delete_snapshot_company_url(company), method: :post %>
			<% end %>
		</div>
		
	<% end %>

</div>













