<div class="sidebar-wrapper">
	
	<%= form_tag(companies_url, method: :get) do %>
	
		<!-- SEARCH KEYWORDS -->
		<div class="search">
			<div class="wrapper">
				<input type="search" 
							 name="company_search[keywords]" 
							 placeholder="Enter keyword" id="sidebar-search">
				<i class="fa fa-search"></i>
			</div>
		</div>
		
		<div class="sidebar-middle">
			
			<!-- KEYWORDS -->
			<% if !locals[:keywords].nil? && !locals[:keywords].empty? %>
				<div class="keywords-wrapper">
					<h1 class="keywords">Search Words:</h1>
					<ul class="job-filters keywords-ul">					
						<li class="job-sidebar keywords-li selected">
							<%= locals[:keywords] %>
							<i class="fa fa-check"></i>
						</li>
					</ul>
				</div>
			<% end %>
			
					
			<div class="wrapper">
				<!-- <h1 class="career-page"> -->
				<h1 class="department">
					Career Page:
					<i class="fa fa-minus-circle hidden"></i>
					<i class="fa fa-plus-square-o"></i>
				</h1>
				<ul class="job-filters">
					<% Company.scopes.each do |scope| %>
						<% if !locals[:scopes].nil? %>
							<% checked = locals[:scopes].include?(scope) %>
						<% else %>
							<% checked = false %>
						<% end %>
						<li class="job-sidebar department <%= 'selected' if checked %>">
							<%= label_tag scope %>
							<%= check_box_tag "company_search[scopes][]", scope, checked  %>
							<i class="fa fa-check"></i>
						</li>
					<% end %>
				</ul>
			</div>
			
		</div><!-- sidebar-middle -->
		
		<%= submit_tag "Submit" %>
	<% end %>

		
	
	<div class="clear">
		<button id="clear-all">Clear All</button>
	</div>
	
</div>