<!-- COMPANIES SIDEBAR -->
<div class="sidebar-wrapper">
	
	<% if current_user %>
		<%= form_for current_user do |f| %>
	
			<!-- SEARCH KEYWORDS -->
			<div class="search">
				<div class="wrapper">
					<input type="search" 
								 name="user[company_settings][keywords]" 
								 placeholder="Enter keyword" id="sidebar-search">
					<i class="fa fa-search"></i>
				</div>
			</div>
		
			<div class="sidebar-middle">
				<div class="keywords-wrapper <%= "hidden" unless show_keywords? %>">
					<h1 class="keywords">Search Words:</h1>
					<ul class="job-filters keywords-ul">
						<% if current_user.job_settings[:keywords] %>
							<% current_user.job_settings[:keywords].each do |keyword| %>
								<li class="job-sidebar keywords-li selected">
									<%= keyword %>
									<%= check_box_tag "user[job_settings][keywords][]", keyword, checked = true if current_user.job_settings[:keywords] && current_user.job_settings[:keywords].include?(keyword) %>
									<i class="fa fa-angle-right"></i>
									<i class="fa fa-times-circle"></i>
								</li>
							<% end %>
						<% end %>
					</ul>
				</div>

			
				<div class="wrapper">
					<!-- <h1 class="career-page"> -->
					<h1 class="department">
						Industry
						<i class="fa fa-caret-down"></i>
						<i class="fa fa-caret-right hidden"></i>
					</h1>
					<ul class="job-filters">
						<% return_uniq_categories.each do |cat| %>
							<% checked = false %>
							<li class="job-sidebar hidden <%= 'selected' if checked %>">
								<%= label_tag cat %>
								<%= check_box_tag "company_search[cat][]", cat, checked  %>
								<i class="fa fa-angle-right"></i>
								<i class="fa fa-times-circle"></i>								
							</li>
						<% end %>
					</ul>
				</div>			
					
				<div class="wrapper">
					<!-- <h1 class="career-page"> -->
					<h1 class="department">
						Career Page:
						<i class="fa fa-caret-down"></i>
						<i class="fa fa-caret-right hidden"></i>
					</h1>
					<ul class="job-filters">
						<% locals[:all_scopes].each do |scope| %>
							<% if locals[:scopes_checked] %>
								<% checked = locals[:scopes_checked][scope] ? true : false %>
							<% else %>
								<% checked = false %>
							<% end %>
							<li class="job-sidebar <%= 'selected' if checked %>">
								<%= label_tag scope %>
								<%= check_box_tag "company_search[#{scope}][]", scope, checked  %>
								<i class="fa fa-angle-right"></i>
								<i class="fa fa-times-circle"></i>								
							</li>
						<% end %>
					</ul>
				</div>		
			
			</div><!-- sidebar-middle -->
		
			<%= submit_tag "Submit" %>
		<% end %>

		
	
		<div class="clear">
			<button id="clear-all">Clear All</button>
		</div>
	
	<% end %>
	
</div>