<% user_id = current_user ? current_user.id : nil %>
<% job = locals[:job] %>
<% company = locals[:company] %>

<div class="wolfpack-report">
	<h1 class="dark-banner">Wolfpack Analysis</h1>

	<h2>The Big Idea</h2>
	<p><%= company.the_big_idea || '-' %></p>

	<h2>Scale: <%= company.num_employees || 'Pending' %></h2>
	<p><%= company.size_commentary || '-' %></p>

	<h2>Team: <%= company.team_soundbite || 'Pending' %></h2>
	<p><%= company.team_commentary || '-' %></p>

	<h2>Funding: <%= company.total_money_raised || 'NA' %></h2>
	<p><%= company.funding_commentary || '-' %></p>

	<h2>Outlook: <%= company.outlook || '-' %></h2>
	<p><%= company.outlook_commentary || '-' %></p>

	<h2>Additional</h2>
	<p><%= company.neighborhood %></p>
	<p><%= company.twitter_username %><p>
	<p><%= company.city %></p>
	<p><%= company.twitter_followers %></p>
</div>
