<% user = locals[:user] %>

<div class="business-card">
  <div class="info">
    <a href="/users/<%= user.id %>">
      <h1 class="name">
				<% if user.fname && user.lname %>
        	<%= user.fname.humanize %>&nbsp;<%= user.lname.humanize %>
				<% end %>
      </h1>
    </a>
    <h3 id="title"><%= user.title %> @ <%#= @user.employer.name %></h3>
    <h3 id="location"><%= user.location %></h3>
    <%= link_to "Build Profile", edit_user_url(current_user), class: 'edit' %>
  </div>
  <%= image_tag(user.avatar.url) %>
</div>