<% investor = locals[:investor] %>
<% this_table = locals[:this_table] %>
<% this_model = this_table.singularize %>

<div class="company-overview">
	<h1><%= link_to "#{investor.name}", investor_url(investor) %></h1>
	<p contenteditable="true"
		data-id="<%= investor.id %>" 
		data-table="<%= this_table %>"
		data-model="<%= this_model %>"
		data-attribute="overview"
		class="regular-type">
		<%= investor.overview %>
	</p>
</div>