<% this_table = "investors" %>
<% this_model = this_table.singularize %>
	
<%= render './users/profile_sidebar', locals: {
	investor: @investor
} %>

<div class="profile-wrapper left group">
	<%= render 'in_page_nav', locals: { investor: @investor } %>	
	
	<div class="profile-card-positions right group">		
		<%= render 'investors/cards/logo', locals: { investor: @investor }%>
		<%= render 'investors/cards/investor_stats', locals: { investor: @investor, this_table: this_table } %>
		<%= render 'investors/cards/action_items' %>
	</div>	

	<div class="section-wrap left">		
		<div id="top-id"></div>
		
		<% if @investor.articles.any? %>
			<% @investor.articles.each do |article| %>
				<%= render './articles/new_article_form', locals: { object: @investor, article: article, this_table: this_table } %>
			<% end %>
		<% else %>
			<% article = Article.create(investor_id: @investor.id) %>
			<%= render './articles/new_article_form', locals: { object: @investor, article: article, this_table: this_table } %>
		<% end %>
	</div><!-- section -->	

</div><!-- wrapper -->

<%= render './layouts/background' %>






