<% user_id = current_user ? current_user.id : nil %>
<% job = locals[:job] %>

<div class="c-company-overview left">
	<h1>About <%= job.listing_company.name %></h1>

	<p class="jobs-editable"
		contenteditable= "<%= editable_if_admin(current_user) %>"
		data-id="<%= job.listing_company.id %>" 
		data-table="companies"
		data-model="company"
		data-attribute="overview">		
		<% if job.listing_company.overview %>
			<%= job.listing_company.overview %>
		<% else %>
			<%= 'Pending' %>
		<% end %>
	</p>

	<%= link_to 'More', company_url(job.listing_company) %>
</div>				

