<% user_id = current_user ? current_user.id : nil %>
<% job = locals[:job] %>

<div class="c-company-overview left">
	<h1>About <%= job.listing_company.name %></h1>
	
	<p contenteditable="true" data-company-id="<%= job.listing_company.id %>" class="jobs-index-company-overview">
		<% if job.listing_company.overview %>
			<%= job.listing_company.overview %>
		<% else %>
			<%= 'Pending' %>
		<% end %>
	</p>

	<%= link_to 'More', company_url(job.listing_company) %>
</div>				

