<% user_id = current_user ? current_user.id : nil %>
<% job = locals[:job] %>
<% this_table = 'jobs' %>
<% this_model = this_table.singularize %>

<% if current_user && current_user.is_admin %>
	<% is_editable = 'true' %>
<% else %>
	<% is_editable = 'false' %>
<% end %>	
	
<div class="job-description-wrapper left">	
	<%= job.job_score %>

	<% unless current_user.is_admin %>
		<a href="<%= job.link %>" target="_blank">
	<% end %>
		<h1 class="jobs-editable"
			contenteditable= "<%= is_editable %>"
			data-id="<%= job.id %>" 
			data-table="<%= this_table %>"
			data-model="<%= this_model %>"
			data-attribute="title">
			<%= (job.title.nil? || job.title.empty?) ? 'Title Here' : ActionView::Base.full_sanitizer.sanitize(job.title.titleize) %>
		</h1>

	<% unless current_user.is_admin %>
		</a>
	<% end %>		

	<% if job.description %>
		<p><%= job.description.split(' ')[0..25].join(' ') unless job.description.nil? %>...</p>
	<% else %>
		<% if job.full_text %>
			<p>	<%= job.full_text.split(' ')[0..25].join(' ') unless job.full_text.nil? %>...</p>
		<% end %>
	<% end %>

	<% saved_class = has_saved_job?(job) ? "saved" : "save" %>
	<% applied_class = already_applied?(job) ? "applied_already" : "applied" %>											
	<% removed_class = already_removed?(job) ? "removed_already" : "remove" %>											

	<div class="action-items">	
		<span>Status:</span>
		<%= link_to 'I Applied Already', user_jobs_url(user_id: user_id, 
					applied_job_id: job.id), class: applied_class, remote: true, method: :post %>		
		<%= link_to 'Interested', user_jobs_url(user_id: user_id, 
					saved_job_id: job.id), class: saved_class, remote: true, method: :post %>
		<%= link_to 'Not Interested', user_jobs_url(user_id: user_id, removed_job_id: job.id), 
				class: removed_class, remote: true, method: :post %>
		<%= link_to 'Forward', '#', class: 'forward', data: { id: job.id } %>	
	</div>
</div>