<% company = locals[:company] %>
<% this_table = locals[:this_table] %>
<% this_model = this_table.singularize %>

<div class="company-overview">
	<h1><%= link_to "#{company.name}", company_url(company) %></h1>
	
	<p class="companies-editable"
		contenteditable="true"
		data-id="<%= company.id %>" 
		data-table="<%= this_table %>"
		data-model="<%= this_model %>"
		data-attribute="overview">
		<%= (company.overview.nil? || company.overview.empty?) ? '-' : company.overview %>
	</p>
</div>