<p><%= @email_body %></p>

<h3>Description:</h3>
<p><%= @job.title.titleize %></p>
<p><%= @job.description %></p>

<p><a href="<%= @job.link %>"><%= @job.link %></a><p>

<h5>Powered by WolfpackBeta : <a href="http://www.wolfpackbeta.com">www.wolfpackbeta.com</a></h5>