<%= stylesheet_link_tag('email') %>

<div class="email-send-listings">
	<p><%= @greeting %></p>

	<p><%= @first_paragraph %></p>

	<p><%= @second_paragraph %></p>

	<p>-------------------------------</p>

	<% @jobs.each do |job| %>
		<h5>
			<%= job.title.titleize %> @ <%= job.listing_company.name %>
			<br>
			<%= job.description %>
		</h5>

		<h5>About <%= job.listing_company.name %>: <%= job.listing_company.overview %></h5>
		<p>View listing: <%= link_to job.link, job.link %></p>
	<% end %>

	<p>-------------------------------</p>

	<p><%= @closing_paragraph %></p>

	<h5>Team Wolfpack</h5>
</div>