<%= stylesheet_link_tag('email') %>

<div class="email-send-listings">
	<p><%= @greeting %></p>

	<p><%= @first_paragraph %><a href="http://wolfpackbeta.us8.list-manage.com/unsubscribe?u=3e31e46cbac27ee4dba2a9d95&id=755552c357">http://wolfpackbeta.us8.list-manage.com/unsubscribe?u=3e31e46cbac27ee4dba2a9d95&id=755552c357</a></p>

	<p><%= @second_paragraph %></p>

	<p>-------------------------------</p>

	<% @jobs.each do |job| %>
		<h5>
			<%= job.title.titleize %> @ <%= job.listing_company.name %>
			<br>
			<%= job.description %>
		</h5>

		<h5>About <%= job.listing_company.name %>: <%= job.listing_company.overview %></h5>
		<p>View listing: <%= link_to job.link, job.link %></p>
	<% end %>

	<p>-------------------------------</p>

	<p><%= @closing_paragraph %></p>

	<h5>Team Wolfpack</h5>
	<p>-------------------------------</p>
	<p>About Wolfpack: we're not affiliated with any of the companies listed above. 
</div>