<div class="in-page-navbar">

	<!-- USERS -->
	<% if controller_name == 'users' && action_name == 'show' %>
		<%= link_to 'Post an Article', new_article_url, id: 'new-article-post' %>
	<% end %>

	<!-- JOBS -->
	<% if controller_name == 'jobs' && action_name == 'index' %>
		<%#= link_to 'Post a job', '#', id: 'new-job-post' %>

		<div class="job-actions-wrapper">
			<%= link_to ' Viewed', '#', class: 'fa fa-check', data: { filter: 'viewed' } %>	
			<%= link_to ' Howled', '#', class: 'fa fa-paw', data: { filter: 'wp-app' } %>	
			<%= link_to ' Bookmarked', '#', class: 'fa fa-bookmark', data: { filter: 'bookmarked' } %>
			<%= link_to ' Removed', '#', class: 'fa fa-times', data: { filter: 'removed' }  %>
			<%= link_to ' Back', jobs_url, class: 'fa fa-times-circle' %>
		</div>
	<% end %>

	<% if controller_name == 'jobs' && action_name == 'show' %>
		<%#= link_to 'Back', '#', id: 'new-job-post' %>

		<div class="job-actions-wrapper">
			<%#= link_to ' Applied', '#', class: 'fa fa-check', data: { filter: 'applied' } %>	
			<%#= link_to ' Bookmarked', '#', class: 'fa fa-bookmark', data: { filter: 'interested' } %>
			<%#= link_to ' Removed', '#', class: 'fa fa-times', data: { filter: 'removed' }  %>
			<%#= link_to ' Back', jobs_url, class: 'fa fa-times-circle' %>
		</div>
	<% end %>	
	
	<!-- ARTICLES -->
	<%#= link_to 'Post an Article', new_user_article_url(current_user), id: 'new-link-a' %>

	<!-- COMPANIES -->
	<% if controller_name == 'companies' %>
		<% if action_name == 'show' %>
			<%= link_to 'Prev', company_url(@company, prev: true), id: 'next', class: 'left' %>
			<%= link_to 'Next', company_url(@company, next: true), id: 'next', class: 'left' %>
			<%= link_to 'Delete Company', company_url(@company), method: :delete, id: 'delete', class: 'left' %>
		<% end %>

		<div class="new-job-form inline-block right">
			<%= form_for([@company, @job]) do |f| %>
				<%= f.text_field :link, class: "hello", placeholder: "Post New Job" %>
				<%= f.submit "Create New Job" %>
			<% end %>
		</div>

	<% end %>

</div>