<nav class="navbar-wrapper">
	<a href=<%= user_url(current_user) %> data-no-turbolink='true'><i class="fa fa-bars"></i></a>

	<%= link_to 'wolfpack', root_url, class: "logo" %>
	<%= link_to 'beta', root_url, class: "logo" %>
	
	<div class="menu">
		<%= link_to 'Jobs', jobs_url, class: "#{'selected' if @tab == 'jobs'}", data: { no_turbolink: true } %>
		<%= link_to 'People', users_url, class: "#{'selected' if @tab == 'users'}", data: { no_turbolink: true }  %>
		<%= link_to 'Startups', companies_url, class: "#{'selected' if @tab == 'companies'}", data: { no_turbolink: true } %>
		<%= link_to 'Groups', '#',  class: "#{'selected' if @tab == 'groups'}", data: { no_turbolink: true } %>
		<%= link_to 'More +', '#', data: { no_turbolink: true } %>
	</div>

	<div class="session">
		<% if signed_in? %>
			<i class="fa fa-power-off"></i> 
			<%= link_to "Log Out", logout_url, method: :delete %>		
		<% else %>
			<%= link_to "New User", signup_url %>
			&nbsp; | &nbsp;
			<%= link_to "Guest", users_url, method: :post %>			
			&nbsp; | &nbsp;
			<%= link_to "Log In", login_url %>
		<%end %>
	</div>
</nav>




