<div class="sidebar-wrapper">
	<% if request.env['PATH_INFO'] == '/jobs' %>

		<%= form_tag jobs_url, method: :get, id: 'job-filter-form', remote: true do %>
			<h1>Job Category:</h1>
			<ul class="job-filters">
				<% Job.unique_categories.each do |category| %>
					<li class="job-sidebar">
						<%= label_tag "#{category}-#{category}", category %>
						<%= check_box_tag "search[category][]", category, false, id: category %>
						<i class="fa fa-play"></i>
					</li>
				<% end %>
			</ul>
		
			<h1>Experience (Yrs):</h1>
			<ul class="job-filters">
				<% [['Internship', 'Internship'],
						['Entry (0-1)', 0], 
						['Junior (1-2)', 2], 
						['Mid (2-3)', 3], 
						['Experienced (3-5+)', 5], 
						['Veteran (5+)', 5],
						['Exec (10+)', 10]].each do |label, num_years| %>
					<li class="job-sidebar">
						<%= label_tag "#{label}-#{label}", label %>
						<%= check_box_tag "search[experience][]", num_years, false, id: label %>
						<i class="fa fa-play"></i>
					</li>
				<% end %>
			</ul>
		
			<%= submit_tag "Search" %>
		<% end %>
	<% end %>
</div>





