<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>wolfpack beta</title>
	  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>		
	</head>

	<body class="<%= controller_name %> <%= action_name %>">
		
		<%= render 'layouts/navbar' %>

		<div class="sidebar-wrapper">
			<%#= render "#{controller_name}/#{controller_name}_sidebar" %>
		</div>

		<div class=<%= "main-content-wrapper" unless action_name == "welcome_to_wolfpack" %>>
			<%= yield %>
		</div>

		<% unless action_name == 'welcome_to_wolfpack' %>
			<%= render './layouts/background' %>
		<% end %>

		<%= render 'layouts/footer' %>

	</body>

</html>



